* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-family-paragrafo);
}

footer {
    height: 34rem;
    background-color: var(--green-900);
    color: var(--green-100);

    padding: var(--);
}