@import url('./styles.css');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-family-paragrafo);
    font-size: var(--font-size-paragrafo-desktop);
    -webkit-font-smoothing: antialiased;
}

footer {
    width: 100%;
    min-height: 26rem;

    background-color: var(--green-900);
    color: var(--green-100);

    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--padding-1-pagina-desktop);
}

.footer-content {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 4.375rem;
    /*70px*/
}

.footer-content .cards {
    width: 100%;
    max-width: 81.25rem; /*1300px*/

    display: flex;
    align-items: start;
    justify-content: space-between;
}

.footer-content .cards .card {
    width: 15.625rem;
    /*250px*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 0.625rem;
    /*10px*/
}

.footer-content .cards .card .title {
    font-size: 1.5rem;
}

.footer-content .cards .card .title a .logo-code-branca {
    width: 4.375rem;
    /*70px*/
    height: 4.375rem;
    /*70px*/

    transition: all 0.2s ease-in-out;
}

.footer-content .cards .card .title a .logo-code-branca:hover {
    transform: scale(1.1);
    transition: all 0.2s ease-in-out;
}

.footer-content .cards .card .content .icons {
    display: flex;
    gap: 0.625rem;
    /*10px*/
}

.footer-content .cards .card .content .icons .icon {
    width: 2.5rem;
    /*40px*/
    height: 2.5rem;
    /*40px*/

    transition: all 0.2s ease-in-out;
}

.footer-content .cards .card .content .icons .icon:hover {
    transform: scale(1.1);
    transition: all 0.2s ease-in-out;
}

.footer-content .cards .vertical-line {
    border-left: 2px solid var(--green-100);
    height: 8rem;
    margin: 0 20px;
}

.footer-content .cards hr {
    display: none;
}

/* Smartphones grandes */
@media screen and (min-width: 361px) and (max-width: 746px) {
    footer {
        font-size: var(--font-size-paragrafo-mobile);
    }

    .footer-content {
        gap: 1.875rem; /*30px*/
    }

    .footer-content .cards {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        gap: 1rem; /*16px*/
    }

    .footer-content .cards .card {
        width: 9.375rem; /*150px*/
    }

    .footer-content .cards .card .title {
        font-size: var( --font-size-subtitulo-mobile);
    }

    .footer-content .cards .card .title a .logo-code-branca {
        width: 2.5rem; /*40px*/
        height: 2.5rem; /*40px*/
    }

    .footer-content .cards .card .content .icons {
        gap: 0.5rem; /*8px*/
    }

    .footer-content .cards .card .content .icons .icon {
        width: 1.25rem; /*20px*/
        height: 1.25rem; /*20px*/
    }

    .footer-content .cards .vertical-line {
        display: none;
    }

    .footer-content .cards hr {
        display: flex;
        width: 9.375rem; /*150px*/
    }
}

/* Smartphones pequenos */
@media screen and (max-width: 360px) {
    footer {
        font-size: var(--font-size-paragrafo-mobile);
    }

    .footer-content {
        gap: 1.875rem; /*30px*/
    }

    .footer-content .cards {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        gap: 1rem; /*16px*/
    }

    .footer-content .cards .card {
        width: 9.375rem; /*150px*/
    }

    .footer-content .cards .card .title {
        font-size: var( --font-size-subtitulo-mobile);
    }

    .footer-content .cards .card .title a .logo-code-branca {
        width: 2.5rem; /*40px*/
        height: 2.5rem; /*40px*/
    }

    .footer-content .cards .card .content .icons {
        gap: 0.5rem; /*8px*/
    }

    .footer-content .cards .card .content .icons .icon {
        width: 1.25rem; /*20px*/
        height: 1.25rem; /*20px*/
    }

    .footer-content .cards .vertical-line {
        display: none;
    }

    .footer-content .cards hr {
        display: flex;
        width: 9.375rem; /*150px*/
    }
}