@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");
* {
    margin:0;
    padding:0;
    box-sizing:border-box;
    
}
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
}

.pagina {
    display: flex;
    width: 100vw;
    background-color: var(--green-200);
    align-items: center;
    justify-content: center;
}

.conteudofull {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    width: 92%;
    background-color: transparent;
    padding-top: 3%;
    padding-bottom: 3%;
}

.imagemdahero{
    width: 30%;
}

.ladodireito {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    background-color: transparent;
    align-content: space-between;
    padding: 0 5% 0 5%; 
    
}

.novid {
    background-color: transparent;
    width:100%;
    height: 15vh;
    align-items: center;
    justify-content: center;
    text-align: center;
    align-content: center;
    
}

.novid h1{
    font-family: var(--font-family-titulo);
    font-size: 2rem;
    color:var(--green-900);
    padding-top: 10%;
}

.setacima i {
    width: 100%;
    font-size: 35px;
    cursor: pointer;
   

}
.cards{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 85vh;
    gap: 5vh;
    background-color: transparent;
    padding: 10% 0 0 0;
    
}
.card1{
    display: flex; 
    flex-direction: row;
    background-color: #ffffff7a;
    width: fit-content;
    align-items: center;
    border-radius: 8px;
    height: 20vh;
    padding-top: 3%;
    padding-bottom: 3%;
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
}
.card1 img {
    height: 20vh;

}
.cardcontent1 {
    align-items: center;
    display: flex;
    flex-direction: column;
    align-self: center;
    border-radius: 8px;

}
.titulo1 {
    width: 100%;
    height: 5vh;
    align-items: center;
    justify-content: center;
    text-align: center;
    align-content: center;

}
.titulo1 h1 {
    font-family: var(--font-family-titulo);
    color: #101E11;
    font-size: 1.5rem;
    width: 100%;

    text-align: center;
    justify-content: center;
    align-self: center;
    align-content: center;
    padding-right: 25%;
}
.texto1 h1 {
    font-family: var(--font-family-paragrafo);
    font-size: 0.8rem;
    color: #28150C;
    padding-left: 5%;
    padding-right: 5%;
}
.saibamais1{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: flex-end;
    gap: 2%;
    align-items: center;
    padding-right: 5%;
    height: 5vh;
}
.saibatext1 h1 {
    display: flex;
    font-family: var(--font-family-paragrafo);
    font-size: 0.8rem;
    color: #101E11; 
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.saibaicon1 i {
    width: 100%;
    font-size: 18px;
    cursor: pointer;
    color: #75A95F ;
}

.card2{
    display: flex; 
    flex-direction: row;
    background-color: #FFFFFF;
    width: fit-content;
    align-items: center;
    border-radius: 8%;

}
.card2 img {
    height: 18vh;

}
.cardcontent2 {
    align-items: center;
    display: flex;
    flex-direction: column;
    align-self: center;
    background-color: white;

}
.titulo2 {
    width: 100%;
    height: 5vh;
    align-items: center;
    justify-content: center;
    text-align: center;
    align-content: center;

}
.titulo2 h1 {
    font-family: var(--font-family-titulo);
    color: #101E11;
    font-size: 1.5rem;
    width: 100%;

    text-align: center;
    justify-content: center;
    align-self: center;
    align-content: center;
    padding-right: 25%;
}
.texto2 h1 {
    font-family: var(--font-family-paragrafo);
    font-size: 0.8rem;
    color: #28150C;
    padding-left: 5%;
    padding-right: 5%;
}
.saibamais2{
    display: flex;
    width: 100%;
    flex-direction: row;
    align-content: space-between;
    justify-content: flex-end;
    gap: 2%;
    text-align: center;
    align-self: center;
    align-items: center;
    padding-right: 5%;
}
.saibatext2 h1 {
    font-family: var(--font-family-paragrafo);
    font-size: 0.8rem;
    color: #101E11; 
    text-align: center;
    justify-content: center;
    align-self: center;
    align-content: center;
    
}
.saibaicon2 i {
    width: 100%;
    font-size: 18px;
    cursor: pointer;
    color: #75A95F ;
}
.card3{
    display: flex; 
    flex-direction: row;
    background-color: #FFFFFF;
    width: fit-content;
    align-items: center;
    border-radius: 8%;

}
.card3 img {
    height: 18vh;

}
.cardcontent3 {
    align-items: center;
    display: flex;
    flex-direction: column;
    align-self: center;
    background-color: white;

}
.titulo3 {
    width: 100%;
    height: 5vh;
    align-items: center;
    justify-content: center;
    text-align: center;
    align-content: center;

}
.titulo3 h1 {
    font-family: var(--font-family-titulo);
    color: #101E11;
    font-size: 1.5rem;
    width: 100%;

    text-align: center;
    justify-content: center;
    align-self: center;
    align-content: center;
    padding-right: 25%;
}
.texto3 h1 {
    font-family: var(--font-family-paragrafo);
    font-size: 0.8rem;
    color: #28150C;
    padding-left: 5%;
    padding-right: 5%;
}
.saibamais3{
    display: flex;
    width: 100%;
    flex-direction: row;
    align-content: space-between;
    justify-content: flex-end;
    gap: 2%;
    text-align: center;
    align-self: center;
    align-items: center;
    padding-right: 5%;
}
.saibatext3 h1 {
    font-family: var(--font-family-paragrafo);
    font-size: 0.8rem;
    color: #101E11; 
    text-align: center;
    justify-content: center;
    align-self: center;
    align-content: center;
    
}
.saibaicon3 i {
    width: 100%;
    font-size: 18px;
    cursor: pointer;
    color: #75A95F ;
}
.setabaixo {
    width: fit-content;
    height: fit-content;
    background-color: #75A95F;
    border-radius: 8px;
    cursor: pointer;
}
.setabaixo i {
    width: 100%;
    font-size: 35px;
    height: fit-content;
}

@media (max-width: 790px){
    .pagina {
    display: flex;
    width: 100%;
    background-color: var(--green-200);
    align-items: center;
    justify-content: center; 
    }
    .conteudofull {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 92%;
    background-color: transparent;
    padding-top: 3%;
    padding-bottom: 3%;
    }
    .imagemdahero {

    }
}