@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");
* {
    margin:0;
    padding:0;
    box-sizing:border-box;
    
}
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
}

.pagina {
    display: flex;
    width: 100vw;
    min-height: fit-content;
    /* height: 100vh; */
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(45deg,#A8C79E , #5D7D66, #43633c );
    background-size: 500% 100%;
    animation: degradeanimado 5s infinite alternate;
}
@keyframes degradeanimado {
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}

.conteudofull {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    width: 88%;
    height: 100%;
    background-color: transparent;
    padding-top: 2%;
    /* padding-bottom: 2%; */
    gap: 3%;
}

.herocontent {
    background-image: url("/public/assets/folhagem-tropical-com-textura-de-fundo.jpg");
    background-position: center;
    background-size: cover;
    color: var(--green-100);
    display: flex;
    width: 40%;
    height: 100%;
    flex-direction: column;
    font-family: var(--font-family-titulo);
    text-align: center;
    border-top-left-radius: 300px;
    border-top-right-radius: 300px;
    align-content: center;
    gap: 150px; 
    padding: 5% 5% 5% 5%;
    border: 5px solid var(--green-300);
    border-bottom: none;
    box-shadow: 0px 0px 50px 0px #000; 

}
.herotop img{
    width: 50%;
}
.heromiddle h1 {
    font-size: 2rem;
    font-weight: 600;
    text-align: start;
}
.herobottom {
    display: flex;
    text-align: start;
    justify-content: flex-start;
}
.herobottom h1 {
    width: 80%;
    font-size: 1rem;
    font-family: var(--font-family-paragrafo);
}

.ladodireito {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 60%;
    background-color: transparent;
    gap:40px;
    justify-content: center;
    height: 100vh;
}

.cards{
    display: flex;
    flex-direction: column;
    width: 80%;
    height: fit-content;
    gap: 5vh;
    background-color: transparent;

}
.cardfilter{
    background-image: url(/public/assets/Foto.png);
    border-radius: 26px;
    height: 100%;
    background-size: cover;

}

.card1{
    background-color: #101e11a2;
    background-position: center;
    background-size: cover;
    display: flex; 
    flex-direction: row;
    width: fit-content;
    align-items: center;
    border-radius: 26px;
    height: 100%;
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
}

.cardcontent1 {
    align-items: center;
    display: flex;
    flex-direction: column;
    align-self: center;
    border-radius: 8px;
    padding: 2%;
}
.titulo1 {
    width: fit-content;
    height: 5vh;
    align-items: center;
    justify-content: center;
    text-align: center;
    align-content: center;

}
.titulo1 h1 {
    font-family: var(--font-family-titulo);
    color: var(--green-100);
    font-size: 1.2rem;
    font-weight: 600;
    width: 100%;
    text-align: left;
    justify-content: center;
    align-self: center;
    align-content: center;

}
.texto1{
    height: fit-content;
    align-items: center;
    justify-content: center;
    text-align: center;
    align-content: center;
    padding-left: 30px;
    padding-right: 30px;

}
.texto1 h1 {
    font-family: var(--font-family-paragrafo);
    font-size: 0.8rem;
    color: var(--green-100);
    text-align: left;

}
.bottomcontent {
    display: flex;
    width: 100%;
    gap: 10%;
    align-items: center;
    justify-content: flex-start;

}
.categorias {
    display: flex;
    font-family: var(--font-family-paragrafo);
    font-size: 10px;
    width: 100%;
    justify-content: center;
    gap: 5%;

}
.categorias h1{
    font-size: 0.7rem;
    font-weight: 600;
}
.cat {
    display: flex;
    background-color: var(--green-200);
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 1.5%;
    border-radius: 16px;
}
.cat h1{
    display: flex;
    margin: 0;
}

.swiper {
    display: flex !important;
    width: 100%;
    overflow: hidden;
    max-height: 80vh;
    padding: 0% 10% 0% 10% !important;
    margin: auto;
    justify-content: center;

}
.swiper-wrapper{
    display: flex !important;
    height: 80vh;
    justify-content: center;
    align-items: center;
}
.swiper-slide {
    width: 35vw !important;

}
.swiper-slide-prev{
    height: 18.5vh !important;
}
.swiper-slide-next{
    height: 18.5vh !important;
}
.swiper-slide-active {
    height: 35vh !important;
}
.swiper-slide-next .cardfilter .card1 .cardcontent1 .cat{
    display: none;
}
.swiper-slide-prev .cardfilter .card1 .cardcontent1 .cat{
    display: none;
}

.swiper-pagination {
    position: absolute;
    right: 10px; /* posicione do lado direito */
    top: 50%;
    transform: translateY(-50%);
    display: flex !important;
    flex-direction: column;
    gap: 10px;
    z-index: 10;
}

.swiper-pagination-bullet {
    background: var(--green-300)!important;
    opacity: 1 !important;
    width: 12px;
    height: 12px;
}

.swiper-pagination-bullet-active {
    background: var(--green-900) !important;
}

@media (max-width: 850px){
    .pagina{
    width: 100%;
    min-height: 100vh;
    }

    .herocontent{
    width: 75%;
    }

    .swiper-pagination {
    position: absolute;
    right: 10px; /* posicione do lado direito */
    top: 50%;
    transform: translateY(-50%);
    display: flex !important;
    flex-direction: column;
    gap: 10px;
    z-index: 10 !important;
}
}


@media (max-width: 450px){

    .pagina{
    width: 100%;
    min-height: 100vh;
    height: 100%;
    }

    .conteudofull {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: fit-content;
    padding-bottom: 3%;
    padding-top: 0;
    }

    .herocontent {
    background-image: url("/public/assets/folhagem-tropical-com-textura-de-fundo.jpg");
    background-position: center;
    background-size: cover;
    color: var(--green-100);
    display: flex;
    width: 80%;
    flex-direction: column;
    font-family: var(--font-family-titulo);
    text-align: center;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 300px;
    border-bottom-right-radius: 300px;
    align-content: center;
    gap: 10%;
    padding: 2% 5% 15% 5%;
    border: 5px solid var(--green-300);
    border-top: none;
    box-shadow: 0px 0px 50px 0px #000; 

}
.herotop img{
    width: 20%;
}
.hero {
    padding-top: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.heromiddle{
    display: flex;
    justify-content: center;
}
.heromiddle h1 {
    width: 180px;
    font-size: 0.9rem;
    font-weight: 600;
}
.herobottom {
    display: flex;
    justify-content: center;

}
.herobottom h1 {
    width: 180px;
    font-size: 0.7rem;
    font-family: var(--font-family-paragrafo);
}

.swiper {
    display: flex !important;
    width: 100%;
    overflow: hidden;
    max-height: 80vh;
    padding: 0% 10% 0% 10% !important;
    margin: auto;
    justify-content: center;

}
.swiper-wrapper{
    display: flex !important;
    height: 80vh;
    justify-content: center;
    align-items: center;
}
.swiper-slide {
    width: 35vw !important;

}
.swiper-slide-prev{
    height: 18.5vh !important;
    width: 60vw !important;
}
.swiper-slide-next{
    height: 18.5vh !important;
    width: 60vw !important;
}
.swiper-slide-active {
    height: 35vh !important;
    width: 60vw !important;
}
.swiper-slide-next .cardfilter .card1 .cardcontent1 .cat{
    display: none;
}
.swiper-slide-prev .cardfilter .card1 .cardcontent1 .cat{
    display: none;
}

.swiper-pagination {
    position: absolute;
    right: 10px; /* posicione do lado direito */
    top: 50%;
    transform: translateY(-50%);
    display: flex !important;
    flex-direction: column;
    gap: 10px;
    z-index: -10 !important;
}

.swiper-pagination-bullet {
    background: var(--green-300)!important;
    opacity: 1 !important;
    width: 12px;
    height: 12px;
}

.swiper-pagination-bullet-active {
    background: var(--green-900) !important;
}

.cardcontent1 {
    align-items: center;
    display: flex;
    flex-direction: column;
    align-self: center;
    border-radius: 8px;
    padding: 2%;
}
.titulo1 {
    width: fit-content;
    height: 5vh;
    align-items: center;
    justify-content: center;
    text-align: center;
    align-content: center;

}
.titulo1 h1 {
    font-family: var(--font-family-titulo);
    color: var(--green-100);
    font-size: 1rem;
    font-weight: 600;
    width: 100%;
    text-align: left;
    justify-content: center;
    align-self: center;
    align-content: center;

}
.texto1{
    height: fit-content;
    align-items: center;
    justify-content: center;
    text-align: center;
    align-content: center;
    padding-left: 30px;
    padding-right: 30px;

}
.texto1 h1 {
    font-family: var(--font-family-paragrafo);
    font-size: 0.8rem;
    color: var(--green-100);
    text-align: left;

}
.bottomcontent {
    display: flex;
    width: 100%;
    gap: 10%;
    align-items: center;
    justify-content: flex-start;

}
.categorias {
    display: flex;
    font-family: var(--font-family-paragrafo);
    font-size: 10px;
    width: 100%;
    justify-content: center;
    gap: 5%;

}
.categorias h1{
    font-size: 0.7rem;
    font-weight: 600;
}
.cat {
    display: flex;
    background-color: var(--green-200);
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 1.5%;
    border-radius: 16px;
}
.cat h1{
    display: flex;
    margin: 0;
}

}