@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");
* {
    margin:0;
    padding:0;
    box-sizing:border-box;
    
}
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
}

.pagina {
    display: flex;
    width: 100vw;
    height: 100vh;
    background-color: var(--green-200);
    align-items: center;
    justify-content: center;
}

.conteudofull {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    width: 88%;
    height: 100%;
    background-color: transparent;
    padding-top: 2%;
    /* padding-bottom: 2%; */
    gap: 3%;
}

.herocontent {
    background-image: url("/public/assets/folhagem-tropical-com-textura-de-fundo.jpg");
    background-position: center;
    background-size: cover;
    color: var(--green-100);
    display: flex;
    width: 40%;
    height: 100%;
    flex-direction: column;
    font-family: var(--font-family-titulo);
    text-align: center;
    border-top-left-radius: 300px;
    border-top-right-radius: 300px;
    align-content: center;
    justify-content: space-between;
    padding: 5% 5% 5% 5%;
    border: 5px solid var(--green-300);
    border-bottom: none;
    box-shadow: 0px 0px 50px 0px #000; 

}
.herotop img{
    width: 50%;
}
.heromiddle h1 {
    font-size: 2rem;
    font-weight: 600;
}
.herobottom {
    display: flex;
    justify-content: center;
}
.herobottom h1 {
    width: 80%;
    font-size: 1rem;
    font-family: var(--font-family-paragrafo);
}

.ladodireito {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 60%;
    background-color: transparent;
    padding: 10% 5% 5% 10%;
    gap:40px;
    justify-content: center;
    
}

.cards{
    display: flex;
    flex-direction: column;
    width: 80%;
    height: fit-content;
    gap: 5vh;
    background-color: transparent;

}
.card1{
    background-image: url(/public/assets/Foto.png);
    background-position: center;
    background-size: cover;
    display: flex; 
    flex-direction: row;
    width: fit-content;
    align-items: center;
    border-radius: 20px;
    height: fit-content;
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
}


.cardcontent1 {
    align-items: center;
    display: flex;
    flex-direction: column;
    align-self: center;
    border-radius: 8px;
    padding: 2%;
}
.titulo1 {
    width: fit-content;
    height: 5vh;
    align-items: center;
    justify-content: center;
    text-align: center;
    align-content: center;

}
.titulo1 h1 {
    font-family: var(--font-family-titulo);
    color: #101E11;
    font-size: 1.2rem;
    font-weight: 600;
    width: 100%;
    text-align: left;
    justify-content: center;
    align-self: center;
    align-content: center;

}
.texto1{
    height: fit-content;
    align-items: center;
    justify-content: center;
    text-align: center;
    align-content: center;
    padding-left: 30px;
    padding-right: 30px;

}
.texto1 h1 {
    font-family: var(--font-family-paragrafo);
    font-size: 0.8rem;
    color: #28150C;
    text-align: left;

}
.bottomcontent {
    display: flex;
    width: 100%;
    gap: 10%;
    align-items: center;
    justify-content: flex-start;

}
.categorias {
    display: flex;
    font-family: var(--font-family-paragrafo);
    font-size: 10px;
    width: 100%;
    justify-content: center;
    gap: 5%;

}
.categorias h1{
    font-size: 0.7rem;
    font-weight: 600;
}
.cat {
    display: flex;
    background-color: var(--green-200);
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 3%;
    border-radius: 16px;
}
.cat h1{
    display: flex;
    margin: 0;
}
.bolinhascarrossel {
    display: flex;
    flex-direction: column;
    color: var(--green-300);
    align-items: center;
}
.bolinha3{
    color: var(--green-900);
    font-size: 20px;
}


@media (max-width: 790px){
    .pagina {
    display: flex;
    width: 100%;
    background-color: var(--green-200);
    align-items: center;
    justify-content: center; 
    }
    .conteudofull {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 85%;
    padding-top: 3%;
    padding-bottom: 3%;
    }
    .herocontent {
        display: flex;
        width: 100%;
        height: 50vh;
    }
    .herotop {
        display: flex;
        width: 100%;
        justify-content: center;
    }
    .herotop h1 {
        font-size: 1.3rem;
        width: 60%;
    }
    .heromiddle h1{
        font-size: 3rem;
    }
    .herobottom {
        display: flex;
        justify-content: center;
    }
    .herobottom h1 {
        font-size: 0.8rem;
    }
    .ladodireito{
        display: flex;
        justify-content: center;
        align-items: center;
        /* background-color: pink; */
        width: 100%;
        padding-top: 5%;
    }
    .novid h1 {
        font-size: 1.5rem;
    }
    .card1 {
        height: fit-content;
    }
    .card1 img {
        display: flex;
        width: 35vw;
        height: 19vh;
        /* object-fit: cover; */
        border-radius: 16px;
    }
    .titulo1 h1 {
        font-size: 1rem;
    }
    .texto1 h1 {
        font-size: 0.6rem;
    }
    .bottomcontent {
        gap: 2%;
    }
    .categorias{
        display: flex;
        flex-direction: column;
        gap: 5px;
        
    }
    .saibaicon1 {
        display: none;
    }
    .cat {
        padding: 1%;
    }
    .categorias h1{
        font-size: 0.6rem;
    }
    .cardcontent1 {
        padding-left: 4%;
        gap: 3px;
    }

}