@import url('./styles.css');

main {
    font-size: var(--font-size-paragrafo-desktop);
    font-family: var(--font-family-paragrafo);

    display: flex;
    flex-direction: column;

    padding: 2.5rem; /*40px*/
    gap: 2.5rem; /*40px*/

    background-color: var(--green-100);
    color: var(--green-900);

    width: 100%;
    min-height: 100vh;
}

main .section1 {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

main .section1 .input-search-container {
    display: flex;
    align-items: center;

    padding: 0.625rem; /*10px*/
    gap: 0.625rem; /*10px*/

    background-color: #FFFFFF;

    border-radius: 2rem;

    width: 31%;
}

main .section1 .input-search-container .lupa-icon {
    width: 1rem;
    height: 1rem;
}

main .section1 .input-search-container .input-search {
    all: unset;

    flex: 1; 
    width: 100%; 
    height: 100%;
    box-sizing: border-box;

    overflow: hidden;
}

main .section1 .input-search-container .input-search::placeholder {
    color: var(--green-900);
}

main .section1 .profile-container {
    display: flex;
    align-items: center;

    gap: 0.625rem; /*10px*/
}

main .section1 .profile-container .profile-name p {
    font-size: 0.875rem; /*14px*/
}

main .section1 .profile-container .btn-show-more-profile {
    display: flex;
    align-items: center;
    justify-content: center;

    background: transparent;

    all: unset;

    cursor: pointer;

    transition: all 0.2s ease-in-out;
}

main .section1 .profile-container .btn-show-more-profile:hover {
    transition: all 0.2s ease-in-out;
    transform: scale(1.1);
}

main .section2 {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
}

main .section2 .title p {
    font-size: var(--font-size-titulo-desktop);
    font-weight: bolder;
}

main .section2 .buttons-container .btn-create-user {
    all: unset;

    display: flex;
    align-items: center;

    gap: 0.675rem; /*10px*/
    padding: 0.675rem; /*10px*/

    background-color: var(--green-500);
    color: var(--green-100);

    border-radius: 0.75rem; /*12px*/

    cursor: pointer;

    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

    transition: all 0.2s ease-in-out;
}

main .section2 .buttons-container .btn-create-user:hover {
    transition: all 0.2s ease-in-out;
    transform: scale(1.03);
}

main .section3 {
    background-color: #FFFFFF;

    border-radius: 2rem;

    padding: 1.25rem;

    width: 100%;
}

main .section3 .users-table {
   width: 100%;

   border-collapse: collapse;
}

main .section3 .users-table thead {
    width: 100%;
}

main .section3 .users-table thead tr {
    width: 100%;
}

main .section3 .users-table thead tr th {
    width: 20%;

    font-weight: 400;

    padding: 1rem; /*16px*/
}

main .section3 .users-table tbody {
    width: 100%;
}

main .section3 .users-table tbody tr {
    width: 100%;
}

main .section3 .users-table tbody tr td {
    width: 20%;
    text-align: center;

    border-top: 1px solid var(--green-900);
    padding: 1rem; /*16px*/
}