@import url('./styles.css');

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.backgroundListaPosts{
    display: grid;
    grid-template-columns: 1fr 6fr;
    height: 100vh;
    width: 100%;
    overflow-y: scroll;
}

.sidebarListaPosts{
    background-color: var(--green-700);
    height: 100%;
    width: 100%;
}

.mainListaPosts{
    background-color: var(--green-200);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 2.5rem;
    gap: 2.5rem;
}

.superiorListaPosts{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: var(--font-size-paragrafo-desktop);
    font-family: var(--font-family-paragrafo);
}

.pesquisaPosts{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.625rem;
    gap: 0.625rem;
    background-color: var(--green-100);
    border-radius: 2rem;
    width: 31%;
}

.lupa-icon{
    width: 1rem;
    height: 1rem;
    color: var(--green-900);
}

.input-search{
    all: unset;
    border: none;
    width: 100%;
    height: 100%;
    flex: 1;
}

.input-search::placeholder{
    color: var(--green-900);
}

.perfilListaPosts{
    display: flex;
    flex-direction: row;
    gap: 0.625rem;
}

.nomePerfil{
    font-size: 0.875rem;
    color: var(--green-900);
}

.btn-show-more-profile{
    all: unset;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    cursor: pointer;
}

.superiorTabelaPosts{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.tituloTabelaPosts p{
    font-size: 30px;
    font-family: var(--font-family-paragrafo);
    font-weight: 600;
}

.botoeslistaPosts{
    all: unset;
    display: flex;
    align-items: center;
    gap: 0.675rem;
    padding: 0.675rem;
    background-color: var(--green-900);
    color: var(--green-100);
    border-radius: 0.75rem;
    cursor: pointer;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-size: var(--font-size-paragrafo-desktop);
    font-family: var(--font-family-paragrafo);
}

.tabelaPostsContent{
    background-color: var(--green-100);
    border-radius: 2rem;
    padding: 1.25rem;
    width: 100%;
}

.tabelaPosts{
    width: 100%;
    border-collapse: collapse;
}

.tabelaPosts thead{
    width: 100%;
    font-family: var(--font-family-paragrafo);
}

.tabelaPosts thead tr{
    width: 100%;
}

.tabelaPosts thead tr th{
    width: 20%;
    font-weight: 400;
    padding: 1rem;
}

.tabelaPosts tbody{
    width: 100%;
    font-family: var(--font-family-paragrafo);
}

.tabelaPosts tbody tr{
    width: 100%;
}

.tabelaPosts tbody tr td{
    width: 20%;
    text-align: center;
    border-top: 1px solid var(--green-900);
    padding: 1rem;
}

.paginacaoPosts{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--font-family-paragrafo);
}

.paginacaoPostsConteudo{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.625rem;
    border-top: 1px solid var(--green-900);
    padding: 1rem 0 0 0;
}

.arrow-left{
    all: unset;
    cursor: pointer;
}

.pages{
    display: flex;
    align-items: center;    
    gap: 0.625rem; 
}

.page{
    all: unset;
    font-weight: bolder;
    padding: 0.625rem;
    border-radius: 0.375rem;
    cursor: pointer;
}

.page:hover{
    background-color: var(--green-900);
    color: var(--green-100);
}

.arrow-right{
    all: unset;
    cursor: pointer;
}

.botoesAcoes{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0.5rem;
}

.btn-actions{
    all: unset;
    cursor: pointer;
}

.btn-actions:hover{
    transition: all 0.2s ease-in-out;
    transform: scale(1.1);
}

/* ----------------------------- MODAL CRIAR NOVA PUBLICAÇÃO ----------------------------- */

.filtro {
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: 0.5;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    display: none;
}

.backgroundListaPosts .mainListaPosts .modal-create-publication {
    background-color: var(--green-100);

    width: 50%;

    display: none;
    flex-direction: column;
    align-items: center;

    gap: 0.75rem;

    font-family: var(--font-family-paragrafo);

    border-radius: 1rem;

    position: absolute;
    top: 5%;
    left: 30%;
    bottom: 5%;

    overflow-y: auto;
}

.backgroundListaPosts .mainListaPosts .modal-create-publication .modal-create-publication-header {
    width: 100%;
    height: 25%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 1rem;
    gap: 0.2rem;

    background-color: var(--green-900);
    color: var(--green-100);

    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.backgroundListaPosts .mainListaPosts .modal-create-publication .modal-create-publication-header p {
    font-size: 1.5rem;
}

.backgroundListaPosts .mainListaPosts .modal-create-publication .modal-create-publication-main {
    width: 100%;
    flex: 1;

    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    padding: 1rem;
}

.backgroundListaPosts .mainListaPosts .modal-create-publication .modal-create-publication-main .create-publication-form {
    display: flex;
    flex-direction: column;

    gap: 0.5rem;
}

.backgroundListaPosts .mainListaPosts .modal-create-publication .modal-create-publication-main .create-publication-form .create-publication-container {
    width: 100%;

    display: flex;
    flex-direction: column;
}

.backgroundListaPosts .mainListaPosts .modal-create-publication .modal-create-publication-main .create-publication-form .create-publication-container span {
    color: var(--green-700);
    font-weight: 500;

    padding: 0.375rem;
}

.backgroundListaPosts .mainListaPosts .modal-create-publication .modal-create-publication-main .create-publication-form .create-publication-container input {
    width: 100%;
    padding: 0.625rem;

    border-radius: 0.5rem;

    border: 1px solid var(--green-700);

    background: transparent;

    font-family: var(--font-family-paragrafo);
    color: var(--green-900);
}

.backgroundListaPosts .mainListaPosts .modal-create-publication .modal-create-publication-main .create-publication-form .create-publication-container input:focus {
    outline: 1px solid var(--green-700);
}

.backgroundListaPosts .mainListaPosts .modal-create-publication .modal-create-publication-main .create-publication-form .create-publication-container input::placeholder {
    font-family: var(--font-family-paragrafo);
    font-size: 0.75rem;
    color: var(--green-300);
}

.backgroundListaPosts .mainListaPosts .modal-create-publication .modal-create-publication-main .create-publication-form .photo-container {
    display: flex;

    align-items: center;
    justify-content: center;
}

.backgroundListaPosts .mainListaPosts .modal-create-publication .modal-create-publication-main .create-publication-form .photo-container .photo-container-content {
    width: 31%;
    height: 10rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border: 2px solid var(--green-700);
    border-radius: 1rem;

    overflow: hidden;
}

.backgroundListaPosts .mainListaPosts .modal-create-publication .modal-create-publication-main .create-publication-form .photo-container .photo-container-content .label-photo-container {
    width: 100%;
    height: 100%;
}

.backgroundListaPosts .mainListaPosts .modal-create-publication .modal-create-publication-main .create-publication-form .photo-container .photo-container-content .label-photo-container .label-content {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 0.2rem;

    cursor: pointer;

    color: var(--green-700);
}

.backgroundListaPosts .mainListaPosts .modal-create-publication .modal-create-publication-main .create-publication-form .photo-container .photo-container-content .label-photo-container .label-content .preview-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.backgroundListaPosts .mainListaPosts .modal-create-publication .modal-create-publication-main .create-publication-form .photo-container .photo-container-content .label-photo-container .label-content:hover {
    background-color: var(--green-200);
}

.previewImage {
    width: 100%;
    height: 100%;
}

.backgroundListaPosts .mainListaPosts .modal-create-publication .modal-create-publication-main .create-publication-form .photo-container img {
    width: 1.25rem;
}

.backgroundListaPosts .mainListaPosts .modal-create-publication .modal-create-publication-main .create-publication-form .create-publication-container .classification-button {
    width: 100%;
    padding: 0.625rem;

    border-radius: 0.5rem;
    border: 1px solid var(--green-700);

    background: transparent;

    display: flex;
    align-items: center;
    justify-content: space-between;

    font-family: var(--font-family-paragrafo);
    font-size: 0.75rem;
    color: var(--green-300);
}

.backgroundListaPosts .mainListaPosts .modal-create-publication .modal-create-publication-main .create-publication-form .create-publication-container .classification-button:hover {
    background-color: var(--green-200);
    cursor: pointer;
}

.backgroundListaPosts .mainListaPosts .modal-create-publication .modal-create-publication-main .create-publication-form .create-publication-container .classification-button .arrow-up-icon {
    display: none;
}

.backgroundListaPosts .mainListaPosts .modal-create-publication .modal-create-publication-main .create-publication-form .classification-container {
    position: relative;
}

.backgroundListaPosts .mainListaPosts .modal-create-publication .modal-create-publication-main .create-publication-form .create-publication-container .dropdown-classification {
    display: none;

    color: var(--green-900);
}

.backgroundListaPosts .mainListaPosts .modal-create-publication .modal-create-publication-main .create-publication-form .create-publication-container .dropdown-classification.open {
    border-radius: 0.5rem;

    font-size: 0.75rem;

    display: block;
}

.backgroundListaPosts .mainListaPosts .modal-create-publication .modal-create-publication-main .create-publication-form .create-publication-container .dropdown-classification label {
    width: 100%;

    display: flex;

    align-items: center;
    justify-content: start;

    padding: 0.625rem;
}

.backgroundListaPosts .mainListaPosts .modal-create-publication .modal-create-publication-main .create-publication-form .create-publication-container .dropdown-classification label input {
    width: 5%;
}

.backgroundListaPosts .mainListaPosts .modal-create-publication .modal-create-publication-main .create-publication-form .buttons {
    width: 100%;
    display: flex;

    align-items: center;
    justify-content: center;

    gap: 0.625rem;
}

.backgroundListaPosts .mainListaPosts .modal-create-publication .modal-create-publication-main .create-publication-form .buttons .btn-cancel-publication {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.625rem;

    color: var(--green-900);
    background-color: var(--green-200);
    border: 1px solid var(--green-900);
    border-radius: 0.5rem;

    cursor: pointer;
}

.backgroundListaPosts .mainListaPosts .modal-create-publication .modal-create-publication-main .create-publication-form .buttons .btn-cancel-publication:hover {
    background-color: var(--green-300);
}

.backgroundListaPosts .mainListaPosts .modal-create-publication .modal-create-publication-main .create-publication-form .buttons .btn-create-publication {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.625rem;

    color: var(--green-100);
    background-color: var(--green-900);
    border-radius: 0.5rem;
    border: none;

    width: 4.75rem;

    cursor: pointer;
}

.backgroundListaPosts .mainListaPosts .modal-create-publication .modal-create-publication-main .create-publication-form .buttons .btn-create-publication:hover {
    background-color: var(--green-700);
}

@media screen and (max-width: 500px){
    .botoesAcoes{
        display: flex;
        gap: 0.375rem;
    }
}