@import url('./styles.css');

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.backgroundListaPosts {
    display: flex;
    min-height: 100vh;
    width: 100%;
}

.mainListaPosts {
    background-color: var(--green-200);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 2.5rem;
    gap: 2.5rem;
}

.superiorListaPosts {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: var(--font-size-paragrafo-desktop);
    font-family: var(--font-family-paragrafo);
}

.pesquisaPosts {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.625rem;
    gap: 0.625rem;
    background-color: var(--green-100);
    border-radius: 2rem;
    width: 31%;
}

.lupa-icon {
    width: 1rem;
    height: 1rem;
    color: var(--green-900);
}

.input-search {
    all: unset;
    border: none;
    width: 100%;
    height: 100%;
    flex: 1;
}

.input-search::placeholder {
    color: var(--green-900);
}

.perfilListaPosts {
    display: flex;
    flex-direction: row;
    gap: 0.625rem;
}

.nomePerfil {
    font-size: 0.875rem;
    color: var(--green-900);
}

.btn-show-more-profile {
    all: unset;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    cursor: pointer;
}

.superiorTabelaPosts {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.tituloTabelaPosts p {
    font-size: 30px;
    font-family: var(--font-family-paragrafo);
    font-weight: 600;
}

.botoeslistaPosts {
    all: unset;
    display: flex;
    align-items: center;
    gap: 0.675rem;
    padding: 0.675rem;
    background-color: var(--green-900);
    color: var(--green-100);
    border-radius: 0.75rem;
    cursor: pointer;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-size: var(--font-size-paragrafo-desktop);
    font-family: var(--font-family-paragrafo);
    
    transition: all 0.2s ease-in-out;
}

.botoeslistaPosts:hover {
    transition: all 0.2s ease-in-out;
    transform: scale(1.03);
}

.tabelaPostsContent {
    background-color: var(--green-100);
    border-radius: 2rem;
    padding: 1.25rem;
    width: 100%;
}

.tabelaPosts {
    width: 100%;
    border-collapse: collapse;
}

.tabelaPosts thead {
    width: 100%;
    font-family: var(--font-family-paragrafo);
}

.tabelaPosts thead tr {
    width: 100%;
}

.tabelaPosts thead tr th {
    width: 20%;
    font-weight: 400;
    padding: 1rem;
}

.tabelaPosts tbody {
    width: 100%;
    font-family: var(--font-family-paragrafo);
}

.tabelaPosts tbody tr {
    width: 100%;
}

.tabelaPosts tbody tr td {
    width: 20%;
    text-align: center;
    border-top: 1px solid var(--green-900);
    padding: 1rem;
}

.paginacaoPosts {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--font-family-paragrafo);

    border-top: 1px solid var(--green-900);
    padding-top: 1rem;
}

.paginacaoPostsConteudo {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.625rem;
    border-top: 1px solid var(--green-900);
    padding: 1rem;

    background: rgba(255, 255, 255, 0.18);
    border-radius: 40px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.7px);
    -webkit-backdrop-filter: blur(3.7px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.arrow-left {
    all: unset;
    cursor: pointer;

    padding-top: 0.4rem;
}

.pages {
    display: flex;
    align-items: center;
    gap: 0.625rem;
}

.page {
    all: unset;
    font-weight: bolder;
    padding: 0.625rem;
    border-radius: 0.375rem;
    cursor: pointer;
}

.page:hover {
    background-color: var(--green-900);
    color: var(--green-100);
}

.arrow-right {
    all: unset;
    cursor: pointer;

    padding-top: 0.4rem;
}

.botoesAcoes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
}

.btn-actions {
    all: unset;
    cursor: pointer;
}

.btn-actions:hover {
    transition: all 0.2s ease-in-out;
    transform: scale(1.1);
}

@media screen and (max-width: 500px) {
    .botoesAcoes {
        display: flex;
        gap: 0.375rem;
    }
}