@import url('./styles.css');

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.backgroundListaPosts {
    display: flex;
    min-height: 100vh;
    height: max-content;

    min-width: 100%;
    width: max-content;

    background-color: var(--green-200);
}

.mainListaPosts {
    height: max-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 2.5rem;
    gap: 2.5rem;
}

.superiorListaPosts {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: var(--font-size-paragrafo-desktop);
    font-family: var(--font-family-paragrafo);
}

.pesquisaPosts {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.625rem;
    gap: 0.625rem;
    background-color: var(--green-100);
    border-radius: 2rem;
    width: 31%;
}

.lupa-icon {
    width: 1rem;
    height: 1rem;
    color: var(--green-900);
}

.input-search {
    all: unset;
    border: none;
    width: 100%;
    height: 100%;
    flex: 1;
}

.input-search::placeholder {
    color: var(--green-900);
}

.perfilListaPosts {
    display: flex;
    flex-direction: row;
    gap: 0.625rem;
}

.nomePerfil {
    font-size: 0.875rem;
    color: var(--green-900);
}

.superiorTabelaPosts {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.tituloTabelaPosts p {
    font-size: 30px;
    font-family: var(--font-family-paragrafo);
    font-weight: 600;
}

.botoeslistaPosts {
    all: unset;
    display: flex;
    align-items: center;
    gap: 0.675rem;
    padding: 0.675rem;
    background-color: var(--green-900);
    color: var(--green-100);
    border-radius: 0.75rem;
    cursor: pointer;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-size: var(--font-size-paragrafo-desktop);
    font-family: var(--font-family-paragrafo);

    transition: all 0.2s ease-in-out;
}

.botoeslistaPosts:hover {
    transition: all 0.2s ease-in-out;
    transform: scale(1.03);
}

.tabelaPostsContent {
    background-color: var(--green-100);
    border-radius: 2rem;
    padding: 1.25rem;
    width: 100%;
}

.tabelaPostsMeio {
    width: 100%;
}

.tabelaPosts {
    width: 100%;
    border-collapse: collapse;
}

.tabelaPosts thead {
    width: 100%;
    font-family: var(--font-family-paragrafo);
}

.tabelaPosts thead tr {
    width: 100%;
}

.tabelaPosts thead tr th {
    width: 20%;
    font-weight: 400;
    padding: 1rem;
}

.tabelaPosts tbody {
    width: 100%;
    font-family: var(--font-family-paragrafo);
}

.tabelaPosts tbody tr {
    width: 100%;
}

.tabelaPosts tbody tr td {
    width: 20%;
    text-align: center;
    border-top: 1px solid var(--green-900);
    padding: 1rem;
}

.paginacao {
    width: 100%;
    justify-content: center;
    padding: 2% 5% 0% 5%;
    display: flex;
    font-family: var(--font-family-paragrafo);
    color: var(--green-900);

    border-top: 1px solid var(--green-900);
}

.elementosPaginacao {
    font-size: 18px;
    width: fit-content;
    height: fit-content;
    color: var(--green-900);
    display: flex;
    padding: 0.8% 2% 0.8% 2%;

    background: rgba(255, 255, 255, 0.422);
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.7px);
    -webkit-backdrop-filter: blur(3.7px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.arcos {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: fit-content;
}

.arcos i {
    display: flex;
    text-align: center;
    align-items: center;
    padding: 4%;
    cursor: pointer;
    color: var(--green-900);

    font-size: 1.3rem;

}

.numeros {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 8%;
    color: var(--green-900);
    height: 100%;
    margin: 1%;
}

.numeros p {
    padding: 7%;
}

.item-paginacao {
    border-radius: 10px;
    width: 3rem;
    display: flex;
    background-color: var(--green-200);
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(3.7px);
    -webkit-backdrop-filter: blur(3.7px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.item-paginacao:hover {
    background-color: var(--green-500);
    cursor: pointer;
}

.botoesAcoes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
}

.btn-actions {
    all: unset;
    cursor: pointer;
}

.btn-actions:hover {
    transition: all 0.2s ease-in-out;
    transform: scale(1.1);
}

@media screen and (min-width: 1279px) and (max-width: 1290px) {
    .backgroundListaPosts {
        min-height: max-content;
    }

    .pesquisaPosts {
        width: 41%;
    }

    .paginacaoPostsConteudo {
        width: 45%;
    }
}

@media screen and (min-width: 800px) and (max-width: 1279px) {
    .backgroundListaPosts {
        min-height: max-content;
    }

    .mainListaPosts {
        height: max-content;
    }

    .pesquisaPosts {
        width: 41%;
    }

    .paginacaoPostsConteudo {
        width: 45%;
    }
}

@media screen and (min-width: 767px) and (max-width: 768px) {
    .backgroundListaPosts {
        min-height: max-content;
    }

    .pesquisaPosts {
        width: 41%;
    }

    .mainListaPosts {
        height: max-content;
    }

     .paginacaoPostsConteudo {
        width: 45%;
    }
}

@media screen and (max-width: 500px) {

    .backgroundListaPosts {
        width: 100%;
    }

    .mainListaPosts {
        padding: 1rem;
        gap: 1.5rem;
    }

    .pesquisaPosts {
        width: 45%;
    }

    .tituloTabelaPosts p {
        font-size: 25px;
    }

    .botoeslistaPosts {
        font-size: 13px;
    }

    .tabelaPostsContent {
        overflow-x: scroll;

        width: 100%;
    }

    .tabelaPostsMeio {
        width: 200%;
    }

    .paginacaoPostsConteudo {
        width: 51%;
    }

    .botoesAcoes {
        display: flex;
        gap: 0.575rem;
    }
}