body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    background-color: var(--green-200);
}

.loginBackground {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
    width: 100%;
    position: relative;
}

.loginBackgroundImg {
    background-image: url("../../../public/assets/BackgroundFolhas.jpg");
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}

.loginBackgroundColor {
    background-color: var(--green-200);
    width: 100%;
    height: 100%;
}

.loginBox {
    background-color: var(--green-100);
    position: absolute;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 80%;
    border-radius: 90px;    
    padding: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    overflow: hidden;
}

.loginEnvelope{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
}

.loginEnvelope.akutibu .loginBoxImg{
    transform: translateX(100%);
    transition: all 1s ease-in-out;
    border-radius: 30px 90px 90px 150px;
}

.loginBoxImg {
    background-image: url("../assets/BackgroundFolhasLogo.png");
    background-size: cover;
    background-position: center;
    border-radius: 90px 30px 150px 90px;
    cursor: pointer;
    position: absolute;
    left: 0%;
    width: 50%;
    height: 100%;
    z-index: 1000;
    transition: all 1s ease-in-out;
}

.loginBoxForm, .registerBoxForm {
    padding: 4% 8%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    box-sizing: border-box;
}

.loginBoxTitle, .registerBoxTitle {
    color: var(--green-900);
    font-family: var(--font-family-titulo);
    font-size: 30px;
}

.loginBoxTitle h1, .registerBoxTitle h1{
        font-weight: 400;
    }

.loginBoxSubtitle, .registerBoxSubtitle{
    color: var(--green-900);
    font-family: var(--font-family-paragrafo);
    font-size: 10px;
    padding: 5px 0;
}

.loginBoxSubtitle h2, .registerBoxSubtitle h2{
    font-weight: 600;
}

.registerBoxNome {
    color: var(--green-900);
    font-family: var(--font-family-paragrafo);
    font-size: 14px;
}

.loginBoxEmail, .registerBoxEmail {
    color: var(--green-900);
    font-family: var(--font-family-paragrafo);
    font-size: 14px;
}

.loginBoxSenha, .registerBoxSenha {
    color: var(--green-900);
    font-family: var(--font-family-paragrafo);
    font-size: 14px;
}

.loginBoxPassword, .registerBoxPassword {
    color: var(--green-900);
    font-family: var(--font-family-paragrafo);
    font-size: 12px;
    text-align: end;
    cursor: pointer;
}

.loginBoxPassword a{
    color: var(--orange-500);
    font-family: var(--font-family-paragrafo);
    font-size: 12px;
    text-align: end;
    cursor: pointer;
    text-decoration: none;
}

.loginBoxButton, .registerBoxButton {
    all: unset;
    color: var(--green-100);
    font-family: var(--font-family-paragrafo);
    font-size: 13px;
    text-align: center;
    background-color: var(--green-900);
    border-radius: 10px;
    padding: 12px;
    cursor: pointer;
}

.loginBoxButton:hover, .registerBoxButton:hover{
    background-color: var(--green-700);
    transition: all 0.2s ease-in-out;
    transform: scale(1.03);
}

.loginBoxEnd, .registerBoxEnd {
    color: var(--green-900);
    font-family: var(--font-family-paragrafo);
    font-size: 13px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    flex-wrap: nowrap;
    padding: 0 40px;
    white-space: nowrap;
}

.loginRegisterButton, .registerEnterButton {
    color: var(--orange-500);
    cursor: pointer;
}

.loginInput, .registerInput{
    background-color: var(--green-200);
    padding: 0.625rem;
    border-radius: 0.5rem;

    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 4%;
    justify-content: space-between;
    align-items: center;
}

.loginInput input, .registerInput input {
    font-family: var(--font-family-paragrafo);
    font-size: 0.8rem;
}

.inputLogin {
    background-color: var(--green-200);
    border: none;
    width: 100%;
}

.inputLoginPassword, .inputRegisterPassword {
    background-color: var(--green-200);
    border: none;
    width: 100%;
}

.inputLogin:focus {
    border: none;
    outline: none;
}

.inputLoginPassword:focus, .inputRegisterPassword:focus {
    border: none;
    outline: none;
}

.inputLogin::placeholder{
    color: var(--green-900);
}

.inputLoginPassword::placeholder, .inputRegisterPassword::placeholder{
    color: var(--green-900);
}

.loginLock, .registerLock {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4%;
    width: 100%;
}

.loginData {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.loginData form {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.mensagemErro{
    display: flex;
    justify-content: center;
    color: var(--orange-500);
    font-family: var(--font-family-paragrafo);
    font-size: 14px;
}

.loginVerification, .registerVerification {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.loginBoxId, .registerBoxId {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.loginBoxXoxomidias {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
}

.loginBoxXoxomidias i{
    cursor: pointer;    
}

.loginBoxXoxomidias i:hover{
    transition: all 0.2s ease-in-out;
    transform: scale(1.03);
}

.bi {
    color: var(--green-900);
    font-size: 28px;
    display: flex;
    justify-content: center;
}

.bi-lock {
    color: var(--green-900);
    font-size: 18px;
}

.bi-envelope {
    color: var(--green-900);
    font-size: 18px;
}

.bi-eye-slash {
    display: none;
    color: var(--green-900);
    font-size: 18px;
    cursor: pointer;
}

.bi-eye {
    display: block;
    color: var(--green-900);
    font-size: 18px;
    cursor: pointer;
}

.a{
    all: unset;
}

.registerBoxForm{
    padding: 4% 8%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    box-sizing: border-box;
}

@media (max-width: 1024px) {
    .loginBackground {
        grid-template-columns: 1fr 1fr;
        height: 100vh;
        align-items: center;
        justify-content: center;
    }

    .loginBox {
        top: 5%;
        left: 5%;
        width: 90%;
        height: 85%;
        border-radius: 60px;
        grid-template-columns: 1fr 1fr;
    }

    .loginBoxImg {
        border-radius: 60px 30px 100px 60px;
    }

    .loginBoxForm {
        padding: 6% 8%;
        justify-content: center;
    }

    .loginBoxTitle {
        font-size: 26px;        
    }

    .loginBoxSubtitle {
        font-size: 12px;
    }
}

@media (max-width: 768px) {
    .loginBackground {
        grid-template-columns: 1fr 1fr;
        height: 100vh;
    }

    .loginBox {
        top: 5%;
        left: 5%;
        width: 90%;
        height: 85%;
        grid-template-columns: 1fr 1fr;
        border-radius: 50px;
    }

    .loginBoxImg {
        border-radius: 50px 30px 100px 50px;
        height: auto;
    }

    .loginBoxForm {
        padding: 5% 6%;
        gap: 12px;
    }

    .bi {
        font-size: 20px;
    }

    .loginBoxButton {
        font-size: 12px;
    }
}

@media (max-width: 500px) {
    .loginBackground {
        grid-template-columns: 1fr;
        height: 100vh;
    }

    .loginBox {
        top: 5%;
        left: 5%;
        height: 90%;
        display: flex;
        flex-direction: column;
        border-radius: 40px;
        overflow-y: auto;
    }

    .loginBoxImg {
        width: 100%;
        height: 180px;
        border-radius: 40px 40px 100px 10px;
    }

    .loginEnvelope{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        position: relative;
    }

    .loginEnvelope.akutibu .loginBoxImg{
        transform: none;
        transition: all 1s ease-in-out;
        border-radius: 40px 40px 10px 100px;
    }

    .loginBoxForm{
        padding: 60% 0 6% 0;
        height: 100%;
        position: absolute;
        transition: all 1s ease-in-out;
        right: 4%;
        left: 4%;
    }

    .loginEnvelope.akutibu .loginBoxForm{
        transform: translateX(110%);
        transition: all 1s ease-in-out;
    }

    .loginBoxTitle{
        font-size: 22px;
    }

    .registerBoxTitle{
        font-size: 18px;
    }

    .loginBoxSubtitle{
        font-size: 11px;
    }

    .registerBoxSubtitle{
        font-size: 8px;
    }

    .inputLogin {
        font-size: 12px;
    }

    .loginBoxButton, .registerBoxButton {
        padding: 10px;
        font-size: 12px;
    }

    .loginBoxXoxomidias {
        gap: 10px;
    }

    .loginData, .registerData {
        gap: 4px;
    }

    .loginData form {
        display: flex;
        flex-direction: column;
        gap: 0px;
    }

    .loginBoxEnd, .registerBoxEnd {
        font-size: 12px;
        white-space: nowrap;
    }

    .registerBoxForm{
        padding: 60% 0% 6% 0%;
        display: flex;
        flex-direction: column;
        height: 100%;
        box-sizing: border-box;
        position: absolute;
        right: 4%;
        left: 4%;
        gap: 10px;

        visibility: hidden;
        opacity: 0;
        transition: all 1s ease-in-out;
    }

    .loginEnvelope.akutibu .registerBoxForm{
        transition: all 1.5s ease-in-out;

        visibility: visible;
        opacity: 1;
    }
}
