@import url('./styles.css');

.fundoJS{
    width: 100%;
    height: 141%;
    background-color: black;
    opacity: 0.5;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.modalViewUser{
    background-color: var(--green-100);
    width: 30%;
    border-radius: 1rem;
    font-family: var(--font-family-paragrafo);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.75rem;

    position: absolute;
    top: 10%;
    right: 35%;
    bottom: 10%;
}

.modalViewUserHeader{
    background-color: var(--green-900);
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    gap: 0.2rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.modalViewUserHeader p{
    color: var(--green-100);
    font-size: 1.5rem;
}

.modalViewUserMain{
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    padding: 1rem;
    overflow-y: auto;
}

.modalViewUserContent{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.viewUserPhoto{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    cursor: pointer;
}

.viewUserPhoto img{
    height: 10rem;
    border-radius: 2rem;
    border: 1px solid var(--green-700);
}

.viewUserName p{
    width: 100%;
    height: fit-content;
    padding: 0.625rem;
    border-radius: 0.5rem;
    border: 1px solid var(--green-700);
    color: var(--green-900);
    background: transparent;
}

.viewUserEmail p{
    width: 100%;
    height: fit-content;
    padding: 0.625rem;
    border-radius: 0.5rem;
    border: 1px solid var(--green-700);
    color: var(--green-900);
    background: transparent;
}

.bottonsViewUser{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 2rem;
}

.btnExitViewUser{
    all: unset;
    background-color: var(--green-900);
    color: var(--green-100);
    border: 1px solid var(--green-900);
    border-radius: 0.5rem;
    cursor: pointer;
    padding: 0.5rem 3rem;
}
