@import url(styles.css);

.fundoJS{
    width: 100%;
    height: 141%;
    background-color: black;
    opacity: 0.5;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

    display: none;
}
.modalDeletUser{
    display: flex;
    flex-direction: column;
    background-color: var(--green-100);
    width: 35%;
    height: fit-content;
    border-radius: 1rem;
    font-family: var(--font-family-paragrafo);
    align-items: center;
    gap: 0.75rem;
    position: absolute;
    top:30%;
    left: 33%;
    display: none;
}

.modalDeletUserHeader{
    background-color: var(--green-900);
    width: 100%;
    height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 1rem;
    gap: 0.3rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    align-content: center;
}

.modalDeletUserHeader p {
    color: var(--green-100);
    font-size: 1rem;
}
.modalDeletUserMain{
    display: flex;
    width: 100%;
    height: 80%;
    flex: 1;
    flex-direction: column;
    padding: 1rem;  
    overflow-y: auto;
    background-color: var(--green-100);
    border-radius: 1rem;
    text-align: center;
}

.bottonsDeletUser{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 2rem;
}

.btnCancelDeletUser {
    all: unset;
    background-color: var(--green-200);
    color: var(--green-900);
    border: 1px solid var(--green-900);
    border-radius: 0.5rem;
    cursor: pointer;
    padding: 0.5rem;
}

.btnDeletUser{
    all: unset;
    background-color: var(--green-900);
    color: var(--green-100);
    border: 1px solid var(--green-900);
    border-radius: 0.5rem;
    cursor: pointer;
    padding: 0.5rem;
}


