@import url(styles.css);

.fundoJS{
    width: 100%;
    height: 141%;
    background-color: black;
    opacity: 0.5;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

    display: none;
}

.modalEditUser {
    background-color: var(--green-100);
    width: 50%;
    height: fit-content;
    border-radius: 1rem;
    font-family: var(--font-family-paragrafo);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.75rem;
    position: absolute;
    top: 5%;
    right: 25%;
    bottom: 5%;

    display: none;
}

.modalEditUserHeader{
    background-color: var(--green-900);
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    gap: 0.2rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    align-content: center;
}


.modalEditUserHeader p{
    color: var(--green-100);
    font-size: 1.5rem;
}

.modalEditUserMain{
    width: 100%;
    height: 80%;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    padding: 1rem;
    overflow-y: auto;
    background-color: var(--green-100);
    border-radius: 1rem;
}

.inputsEditUser{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.inputsEditUser input{
    width: 100%;
    height: fit-content;
    padding: 0.625rem;
    border-radius: 0.5rem;
    border: 1px solid var(--green-700);
    color: var(--green-900);
    background: transparent;
}

.inputsEditUser input::placeholder{
    font-family: var(--font-family-paragrafo);
    color: var(--green-300);
    font-size: 0.75rem;
}

.inputsEditUser input:focus{
    outline: 1px solid var(--green-700);
}

.bottonsEditUser{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 2rem;
}

.btnCancelEditUser{
    all: unset;
    background-color: var(--green-200);
    color: var(--green-900);
    border: 1px solid var(--green-900);
    border-radius: 0.5rem;
    cursor: pointer;
    padding: 0.5rem;
}

.btnEditUser{
    all: unset;
    background-color: var(--green-900);
    color: var(--green-100);
    border: 1px solid var(--green-900);
    border-radius: 0.5rem;
    cursor: pointer;
    padding: 0.5rem;
}

/* REPONSIVIDADE */
@media screen and (min-width: 789px) and (max-width: 1097px) {    
    .modalEditUser {
        width: 75%;
        position: absolute;
        left: 14%;
        top: 15%;
        bottom: 15%;
    }
}

@media screen and (min-width: 613px) and (max-width: 789px) {
    .modalEditUser {
        width: 65%;
        position: absolute;
        left: 17%;
    }

    .modalEditUserMain {
        padding: 0.5rem 0.8rem;
    }
}

@media screen and (min-width: 510px) and (max-width: 613px) {
    .modalEditUser {
        width: 75%;
        position: absolute;
        left: 12%;
    }

    .modalEditUserMain {
        padding: 0.5rem 0.5rem;
    }
}

@media screen and (min-width: 376px) and (max-width: 510px) {
    .modalEditUser {
        width: 90%;
        position: absolute;
        left: 5%;
    }

    .modalEditUserMain {
        padding: 0.5rem 0.5rem;
    }
}

@media screen and (min-width: 320px) and (max-width: 376px) {
    .modalEditUser {
        width: 90%;
        position: absolute;
        left: 5%;
    }

    .modalEditUserMain {
        padding: 0.5rem 0.5rem;
    }
}

@media screen and (max-width: 320px) {
    .modalEditUser {
        width: 90%;
        position: absolute;
        left: 5%;
    }

    .modalEditUserMain {
        padding: 0.5rem 0.5rem;
    }
}