.filtro {
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: 0.5;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    display: none;
}

.backgroundListaPosts .mainListaPosts .modal-view-publication {
    background-color: var(--green-100);

    width: 50%;

    display: none;
    flex-direction: column;
    align-items: center;

    gap: 0.75rem;

    font-family: var(--font-family-paragrafo);

    border-radius: 1rem;

    position: absolute;
    top: 5%;
    left: 25%;
    bottom: 5%;
}

.backgroundListaPosts .mainListaPosts .modal-view-publication .modal-view-publication-header {
    width: 100%;
    height: 18%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 1rem;
    gap: 0.2rem;

    background-color: var(--green-900);
    color: var(--green-100);

    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.backgroundListaPosts .mainListaPosts .modal-view-publication .modal-view-publication-header p {
    font-size: 1.5rem;
}

.backgroundListaPosts .mainListaPosts .modal-view-publication .modal-view-publication-main {
    width: 100%;
    flex: 1;

    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    padding: 1rem 1rem 0 1rem;

    overflow-y: auto;
}

.backgroundListaPosts .mainListaPosts .modal-view-publication .modal-view-publication-main .view-publication-container {
    width: 100%;

    display: flex;
    flex-direction: column;
}

.backgroundListaPosts .mainListaPosts .modal-view-publication .modal-view-publication-main .view-publication-container span {
    color: var(--green-700);
    font-weight: 500;

    padding: 0.375rem;
}

.backgroundListaPosts .mainListaPosts .modal-view-publication .modal-view-publication-main .view-publication-container .view-input {
    width: 100%;
    padding: 0.625rem;

    border-radius: 0.5rem;

    border: 1px solid var(--green-700);

    background: transparent;

    font-family: var(--font-family-paragrafo);
    color: var(--green-900);

    font-size: 0.875rem;
}

.backgroundListaPosts .mainListaPosts .modal-view-publication .modal-view-publication-main .view-photo-container {
    display: flex;

    align-items: center;
    justify-content: center;
}

.backgroundListaPosts .mainListaPosts .modal-view-publication .modal-view-publication-main .view-photo-container-content {
    width: 31%;
    height: 10rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border: 2px solid var(--green-700);
    border-radius: 1rem;

    object-fit: cover;
}

.backgroundListaPosts .mainListaPosts .modal-view-publication .modal-view-publication-main .view-photo-container-content img {
    width: 100%;
}

.backgroundListaPosts .mainListaPosts .modal-view-publication .modal-view-publication-main .view-publication-container .view-input-classification {
    padding-left: 1.5rem;
}

.backgroundListaPosts .mainListaPosts .modal-view-publication .modal-view-publication-main .view-publication-container .view-input-cares {
    padding-left: 1.5rem;
}

.backgroundListaPosts .mainListaPosts .modal-view-publication .modal-view-publication-main .buttons {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.backgroundListaPosts .mainListaPosts .modal-view-publication .modal-view-publication-main .buttons .close-modal-view {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.625rem;

    color: var(--green-100);
    background-color: var(--green-900);
    border-radius: 0.5rem;
    border: none;

    width: 5rem;

    cursor: pointer;

    font-family: var(--font-family-paragrafo);
}

.backgroundListaPosts .mainListaPosts .modal-view-publication .modal-view-publication-main .buttons .close-modal-view:hover {
    background-color: var(--green-700);
}


/* Laptops pequenos */
@media screen and (min-width: 789px) and (max-width: 1097px) {
    .backgroundListaPosts .mainListaPosts .modal-view-publication {
        width: 75%;

        position: absolute;
        left: 14%;
        top: 15%;
        bottom: 15%;
    }

    .backgroundListaPosts .mainListaPosts .modal-view-publication .modal-view-publication-main .view-photo-container-content  {
        width: 41%;
        height: 10rem;
    }
}

@media screen and (min-width: 613px) and (max-width: 789px) {
    .backgroundListaPosts .mainListaPosts .modal-view-publication {
        width: 65%;

        position: absolute;
        left: 17%;
    }

    .backgroundListaPosts .mainListaPosts .modal-view-publication .modal-view-publication-main {
        padding: 0.5rem 0.8rem;
    }

    .backgroundListaPosts .mainListaPosts .modal-view-publication .modal-view-publication-main .view-photo-container-content  {
        width: 51%;
        height: 10rem;
    }
}

@media screen and (min-width: 510px) and (max-width: 613px) {
    .backgroundListaPosts .mainListaPosts .modal-view-publication {
        width: 75%;

        position: absolute;
        left: 12%;
    }

    .backgroundListaPosts .mainListaPosts .modal-view-publication .modal-view-publication-main {
        padding: 0.5rem 0.5rem;
    }

    .backgroundListaPosts .mainListaPosts .modal-view-publication .modal-view-publication-main .view-photo-container-content  {
        width: 51%;
        height: 9rem;
    }
}

@media screen and (min-width: 376px) and (max-width: 510px) {
    .backgroundListaPosts .mainListaPosts .modal-view-publication {
        width: 90%;

        position: absolute;
        left: 5%;
    }

    .backgroundListaPosts .mainListaPosts .modal-view-publication .modal-view-publication-main {
        padding: 0.5rem 0.5rem;
    }

    .backgroundListaPosts .mainListaPosts .modal-view-publication .modal-view-publication-main .view-photo-container-content  {
        width: 51%;
        height: 9rem;
    }
}

@media screen and (min-width: 320px) and (max-width: 376px) {
    .backgroundListaPosts .mainListaPosts .modal-view-publication {
        width: 90%;

        position: absolute;
        left: 5%;
    }

    .backgroundListaPosts .mainListaPosts .modal-view-publication .modal-view-publication-header p {
        font-size: 1.2rem;
    }

    .backgroundListaPosts .mainListaPosts .modal-view-publication .modal-view-publication-main {
        padding: 0.5rem 0.5rem;
    }

    .backgroundListaPosts .mainListaPosts .modal-view-publication .modal-view-publication-main .view-photo-container-content {
        width: 51%;
        height: 9rem;
    }
}

@media screen and (max-width: 320px) {
   .backgroundListaPosts .mainListaPosts .modal-view-publication {
        width: 90%;

        position: absolute;
        left: 5%;
    }

    .backgroundListaPosts .mainListaPosts .modal-view-publication .modal-view-publication-header p {
        font-size: 1.2rem;
    }

    .backgroundListaPosts .mainListaPosts .modal-view-publication .modal-view-publication-main {
        padding: 0.5rem 0.5rem;
    }

    .backgroundListaPosts .mainListaPosts .modal-view-publication .modal-view-publication-main .view-photo-container-content {
        width: 51%;
        height: 9rem;
    }
}