.modal-edit-publication {
    display: flex;
    /* display: none; */
    flex-direction: column;
    background-color: var(--green-100);
    position: absolute;
    /* padding: 0 1%; */
    border-radius: 15px;
    width: 50%;
    font-family: var(--font-family-paragrafo);
}

.modal-edit-publication-header {
    background-color: var(--green-900);
    color: aliceblue;
    text-align: center;
    border-radius: 15px 15px 0 0;
    padding: 2%;
    font-size: 25px;
}

.selectPhoto {
    padding-top: 5%;
    /* border: 1px solid red; */
    text-align: center;
}

.selectPhoto button {
    padding: 6%;
    border: 2px solid var(--green-700);
    border-radius: 5px;
    font-family: var(--font-family-paragrafo);
    background-color: var(--green-100);
    color: var(--green-300);
}

.infosPost {
    display: flex;
    flex-direction: column;
    padding: 0 3%;
    gap: 13px;
    color: var(--green-700);
    font-family: var(--font-family-paragrafo);
}

.infosPost span {
    /* border: 1px solid red; */
    font-size: 16px;
    font-family: var(--font-family-paragrafo);
    font-weight: 500;
}

input{
    width: 100%;
    border: 1px solid var(--green-700);
    border-radius: 5px;
    padding: 1.5%;
    background-color: var(--green-100);
    font-size: 12px;
    color: var(--green-900);
    font-family: var(--font-family-paragrafo);
    /* width: 100%; */
}

.class button {
    width: 100%;
    height: 53%;
    border: 1px solid var(--green-900);
    border-radius: 5px;
    padding: 2%;
    background-color: var(--green-100);
    font-size: 12px;
    text-align: left;
    color: var(--green-300);
    font-family: var(--font-family-paragrafo);
}

.nameClass {
    display: flex;
    gap: 2%;
}

.name {
    /* border: 1px solid aqua; */
    width: 100%;
}

.class {
    width: 100%;
}

.class button {
    border: 1px solid var(--green-900);
    display: flex;
    justify-content: space-between;
}

.name input {
    width: 100%;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 4%;
    padding: 2%;
    font-size: 16px;
}

.botaoCancelar button{
    border: 1px solid var(--green-900);
    border-radius: 5px;
    padding: 10%;
    font-family: var(--font-family-paragrafo);
    background-color: var(--green-200);
    color: var(--green-900);
}

.botaoEditar button{
    border: 1px solid var(--green-900);
    border-radius: 5px;
    padding: 10%;
    width: 170%;
    height: 100%;
    font-family: var(--font-family-paragrafo);
    background-color: var(--green-900);
    color: var(--green-100);
}

.botaoCancelar button:hover {
    background-color: var(--green-300);
}

.botaoEditar button:hover {
    background-color: var(--green-700);
}

