@import url('./styles.css');

.fundoJS{
    width: 100%;
    height: 141%;
    background-color: black;
    opacity: 0.5;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.modalAddNewUser{
    background-color: var(--green-100);
    width: 50%;
    border-radius: 1rem;
    font-family: var(--font-family-paragrafo);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.75rem;

    position: absolute;
    top: 5%;
    right: 25%;
    bottom: 5%;
}

.modalAddNewUserHeader{
    background-color: var(--green-900);
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    gap: 0.2rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}
.modalAddNewUserHeader p{
    color: var(--green-100);
    font-size: 1.5rem;
}

.inputsAddNewUser input{
    width: 100%;
    height: fit-content;
    padding: 0.625rem;
    border-radius: 0.5rem;
    border: 1px solid var(--green-700);
    color: var(--green-900);
    background: transparent;
}

.inputsAddNewUser input::placeholder{
    font-family: var(--font-family-paragrafo);
    color: var(--green-300);
    font-size: 0.75rem;
}

.inputsAddNewUser input:focus{
    outline: 1px solid var(--green-700);
}