@import url(styles.css);

.fundoJS{
    width: 100%;
    height: 141%;
    background-color: black;
    opacity: 0.5;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

    display: none;
}

.modalEditUser {
    background-color: var(--green-100);
    width: 50%;
    border-radius: 1rem;
    font-family: var(--font-family-paragrafo);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.75rem;
    position: absolute;
    top: 5%;
    right: 25%;
    bottom: 5%;

    /* display: none; */
}

.modalEditUserHeader{
    display: flex;
    flex-direction: column;
    background-color: var(--green-900);
    width: 100%;
    height: 20%;
    color: white;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}