.modal-edit-publication {
    display: flex;
    /* display: none; */
    flex-direction: column;
    background-color: var(--green-100);
    position: absolute;
    /* padding: 0 1%; */
    border-radius: 15px;
    width: 50%;
    font-family: var(--font-family-paragrafo);
}

.modal-edit-publication-header {
    background-color: var(--green-900);
    color: aliceblue;
    text-align: center;
    border-radius: 15px 15px 0 0;
    padding: 2%;
    font-size: 25px;
}

.selectPhoto {
    padding-top: 5%;
    /* border: 1px solid red; */
    text-align: center;
}

.selectPhoto button {
    padding: 6%;
    border: 1px solid var(--green-900);
    border-radius: 5px;
    background-color: var(--green-100);
}

.infosPost {
    display: flex;
    flex-direction: column;
    padding: 5%;
    gap: 20px;
    color: var(--green-300);
}

.infosPost h5 {
    font-size: 18px;
}

input{
    width: 100%;
    border: 1px solid var(--green-900);
    border-radius: 5px;
    padding: 2%;
    background-color: var(--green-100);
    font-size: 13px;
    /* width: 100%; */
}

.nameClass {
    display: flex;
    gap: 2%;
}

.nameClass input {
    
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 2%;
    
}

.buttons button {
    border: 1px solid var(--green-900);
    border-radius: 5px;
    padding: 2%;
    background-color: var(--green-100);
}

