.filtro {
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: 0.5;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    display: none;
}

.backgroundListaPosts .mainListaPosts .modal-view-publication {
    background-color: var(--green-100);

    width: 50%;

    /* display: none; */
    flex-direction: column;
    align-items: center;

    gap: 0.75rem;

    font-family: var(--font-family-paragrafo);

    border-radius: 1rem;

    position: absolute;
    top: 5%;
    left: 25%;
    bottom: 5%;
}

