.filtro {
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: 0.5;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    display: none;
}

.backgroundListaPosts .mainListaPosts .modal-create-publication {
    background-color: var(--green-100);

    width: 50%;

    display: none;
    flex-direction: column;
    align-items: center;

    gap: 0.75rem;

    font-family: var(--font-family-paragrafo);

    border-radius: 1rem;

    position: absolute;
    top: 5%;
    left: 25%;
    bottom: 5%;
}

.backgroundListaPosts .mainListaPosts .modal-create-publication .modal-create-publication-header {
    width: 100%;
    height: 18%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 1rem;
    gap: 0.2rem;

    background-color: var(--green-900);
    color: var(--green-100);

    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.backgroundListaPosts .mainListaPosts .modal-create-publication .modal-create-publication-header p {
    font-size: 1.5rem;
}

.backgroundListaPosts .mainListaPosts .modal-create-publication .modal-create-publication-main {
    width: 100%;
    flex: 1;

    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    padding: 1rem 1rem 0 1rem;

    overflow-y: auto;
}

.backgroundListaPosts .mainListaPosts .modal-create-publication .modal-create-publication-main .create-publication-form {
    display: flex;
    flex-direction: column;

    gap: 0.5rem;
}

.backgroundListaPosts .mainListaPosts .modal-create-publication .modal-create-publication-main .create-publication-form .create-publication-container {
    width: 100%;

    display: flex;
    flex-direction: column;
}

.backgroundListaPosts .mainListaPosts .modal-create-publication .modal-create-publication-main .create-publication-form .create-publication-container span {
    color: var(--green-700);
    font-weight: 500;

    padding: 0.375rem;
}

.backgroundListaPosts .mainListaPosts .modal-create-publication .modal-create-publication-main .create-publication-form .create-publication-container input {
    width: 100%;
    padding: 0.625rem;

    border-radius: 0.5rem;

    border: 1px solid var(--green-700);

    background: transparent;

    font-family: var(--font-family-paragrafo);
    color: var(--green-900);
}

.backgroundListaPosts .mainListaPosts .modal-create-publication .modal-create-publication-main .create-publication-form .create-publication-container input:focus {
    outline: 1px solid var(--green-700);
}

.backgroundListaPosts .mainListaPosts .modal-create-publication .modal-create-publication-main .create-publication-form .create-publication-container input::placeholder {
    font-family: var(--font-family-paragrafo);
    font-size: 0.75rem;
    color: var(--green-300);
}

.backgroundListaPosts .mainListaPosts .modal-create-publication .modal-create-publication-main .create-publication-form .photo-container {
    display: flex;

    align-items: center;
    justify-content: center;
}

.backgroundListaPosts .mainListaPosts .modal-create-publication .modal-create-publication-main .create-publication-form .photo-container .photo-container-content {
    width: 31%;
    height: 10rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border: 2px solid var(--green-700);
    border-radius: 1rem;

    overflow: hidden;
}

.backgroundListaPosts .mainListaPosts .modal-create-publication .modal-create-publication-main .create-publication-form .photo-container .photo-container-content .label-photo-container {
    width: 100%;
    height: 100%;
}

.backgroundListaPosts .mainListaPosts .modal-create-publication .modal-create-publication-main .create-publication-form .photo-container .photo-container-content .label-photo-container .label-content {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 0.2rem;

    cursor: pointer;

    color: var(--green-700);

    text-align: center;
}

.backgroundListaPosts .mainListaPosts .modal-create-publication .modal-create-publication-main .create-publication-form .photo-container .photo-container-content .label-photo-container .label-content .preview-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.backgroundListaPosts .mainListaPosts .modal-create-publication .modal-create-publication-main .create-publication-form .photo-container img {
    width: 1.25rem;
}

.backgroundListaPosts .mainListaPosts .modal-create-publication .modal-create-publication-main .create-publication-form .create-publication-container .classification-button {
    width: 100%;
    padding: 0.625rem;

    border-radius: 0.5rem;
    border: 1px solid var(--green-700);

    background: transparent;

    display: flex;
    align-items: center;
    justify-content: space-between;

    font-family: var(--font-family-paragrafo);
    font-size: 0.75rem;
    color: var(--green-300);
}

.backgroundListaPosts .mainListaPosts .modal-create-publication .modal-create-publication-main .create-publication-form .create-publication-container .classification-button:hover {
    background-color: var(--green-200);
    cursor: pointer;
}

.backgroundListaPosts .mainListaPosts .modal-create-publication .modal-create-publication-main .create-publication-form .create-publication-container .classification-button .arrow-up-icon {
    display: none;
}

.backgroundListaPosts .mainListaPosts .modal-create-publication .modal-create-publication-main .create-publication-form .div-name-classification {
    width: 100%;
    display: flex;
    gap: 0.625rem;
}

.backgroundListaPosts .mainListaPosts .modal-create-publication .modal-create-publication-main .create-publication-form .div-name-classification .classification-container {
    position: relative;
}

.backgroundListaPosts .mainListaPosts .modal-create-publication .modal-create-publication-main .create-publication-form .div-name-classification .classification-container .dropdown-classification {
    display: none;
}

.backgroundListaPosts .mainListaPosts .modal-create-publication .modal-create-publication-main .create-publication-form .div-name-classification .classification-container .dropdown-classification.open {
    position: absolute;

    background-color: var(--green-200);
    color: var(--green-900);

    width: 100%;
    top: 105%;

    display: grid;
    grid-template-columns: 1fr 1fr;

    align-items: center;

    border-radius: 0.5rem;

    font-size: 0.75rem;
}

.backgroundListaPosts .mainListaPosts .modal-create-publication .modal-create-publication-main .create-publication-form .div-name-classification .classification-container .dropdown-classification label {
    width: 100%;

    display: flex;

    align-items: center;
    justify-content: start;

    padding: 0.625rem;
    gap: 0.5rem;
}

.backgroundListaPosts .mainListaPosts .modal-create-publication .modal-create-publication-main .create-publication-form .div-name-classification .classification-container .dropdown-classification label input {
    width: 5%;

    transform: scale(2);
    accent-color: var(--green-700);
    cursor: pointer;

    border: none;
    outline: none;
}

.backgroundListaPosts .mainListaPosts .modal-create-publication .modal-create-publication-main .create-publication-form .create-publication-container .add-cares {
    width: 100%;
    display: flex;
    flex-direction: column;

    gap: 0.5rem;
}

.backgroundListaPosts .mainListaPosts .modal-create-publication .modal-create-publication-main .create-publication-form .create-publication-container .add-cares .input-cares-container {
    width: 100%;
    display: flex;

    gap: 0.5rem;
}

.backgroundListaPosts .mainListaPosts .modal-create-publication .modal-create-publication-main .create-publication-form .create-publication-container .add-cares .input-cares-container .btn-add-care {
    all: unset;

    display: flex;
    align-items: center;

    flex: 1;

    cursor: pointer;
}

.backgroundListaPosts .mainListaPosts .modal-create-publication .modal-create-publication-main .create-publication-form .create-publication-container .add-cares .input-cares-container .btn-add-care img {
    cursor: pointer;

    transition: all 0.2s ease-in-out;
}

.backgroundListaPosts .mainListaPosts .modal-create-publication .modal-create-publication-main .create-publication-form .create-publication-container .add-cares .input-cares-container .btn-add-care img:hover {
    transition: all 0.2s ease-in-out;
    transform: scale(1.1);
}

.backgroundListaPosts .mainListaPosts .modal-create-publication .modal-create-publication-main .create-publication-form .create-publication-container .add-cares .ul-cares {
    width: 100%;

    font-size: 0.75rem;

    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.backgroundListaPosts .mainListaPosts .modal-create-publication .modal-create-publication-main .create-publication-form .create-publication-container .add-cares .ul-cares .li-cares {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0.5rem;

    color: var(--green-900);

    background-color: var(--green-200);

    border-radius: 0.5rem;
}

.backgroundListaPosts .mainListaPosts .modal-create-publication .modal-create-publication-main .create-publication-form .create-publication-container .add-cares .ul-cares .li-cares img {
    width: 1rem;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.backgroundListaPosts .mainListaPosts .modal-create-publication .modal-create-publication-main .create-publication-form .create-publication-container .add-cares .ul-cares .li-cares img:hover {
    transition: all 0.2s ease-in-out;
    transform: scale(1.1);
}

.backgroundListaPosts .mainListaPosts .modal-create-publication .modal-create-publication-main .create-publication-form .buttons {
    width: 100%;
    display: flex;

    align-items: center;
    justify-content: center;

    gap: 0.625rem;

    padding-top: 0.5rem;
}

.backgroundListaPosts .mainListaPosts .modal-create-publication .modal-create-publication-main .create-publication-form .buttons .btn-cancel-publication {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.625rem;

    color: var(--green-900);
    background-color: var(--green-200);
    border: 1px solid var(--green-900);
    border-radius: 0.5rem;

    cursor: pointer;

    font-family: var(--font-family-paragrafo);

    width: 5rem;
}

.backgroundListaPosts .mainListaPosts .modal-create-publication .modal-create-publication-main .create-publication-form .buttons .btn-cancel-publication:hover {
    background-color: var(--green-300);
}

.backgroundListaPosts .mainListaPosts .modal-create-publication .modal-create-publication-main .create-publication-form .buttons .btn-create-publication {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.625rem;

    color: var(--green-100);
    background-color: var(--green-900);
    border-radius: 0.5rem;
    border: none;

    width: 5rem;

    cursor: pointer;

    font-family: var(--font-family-paragrafo);
}

.backgroundListaPosts .mainListaPosts .modal-create-publication .modal-create-publication-main .create-publication-form .buttons .btn-create-publication:hover {
    background-color: var(--green-700);
}

/* Laptops pequenos */
@media screen and (min-width: 789px) and (max-width: 1097px) {
    .backgroundListaPosts .mainListaPosts .modal-create-publication {
        width: 75%;

        position: absolute;
        left: 14%;
        top: 15%;
        bottom: 15%;
    }

    .backgroundListaPosts .mainListaPosts .modal-create-publication .modal-create-publication-main .create-publication-form .photo-container .photo-container-content {
        width: 41%;
        height: 10rem;
    }

    .backgroundListaPosts .mainListaPosts .modal-create-publication .modal-create-publication-main .create-publication-form .div-name-classification .classification-container .dropdown-classification.open {
        width: 100%;
        top: 105%;

        display: grid;
        grid-template-columns: 1fr;
    }

    .backgroundListaPosts .mainListaPosts .modal-create-publication .modal-create-publication-main .create-publication-form .div-name-classification .classification-container .dropdown-classification label {
        display: flex;

        padding: 0.3rem 0.625rem;
        gap: 0.2rem;
    }

    .backgroundListaPosts .mainListaPosts .modal-create-publication .modal-create-publication-main .create-publication-form .div-name-classification .classification-container .dropdown-classification label input {
        width: 10%;

        transform: scale(1.2);
    }
}

@media screen and (min-width: 613px) and (max-width: 789px) {
    .backgroundListaPosts .mainListaPosts .modal-create-publication {
        width: 65%;

        position: absolute;
        left: 17%;
    }

    .backgroundListaPosts .mainListaPosts .modal-create-publication .modal-create-publication-main {
        padding: 0.5rem 0.8rem;
    }

    .backgroundListaPosts .mainListaPosts .modal-create-publication .modal-create-publication-main .create-publication-form .photo-container .photo-container-content {
        width: 51%;
        height: 10rem;
    }

    .backgroundListaPosts .mainListaPosts .modal-create-publication .modal-create-publication-main .create-publication-form .div-name-classification {
        display: flex;
        flex-direction: column;
    }

    .backgroundListaPosts .mainListaPosts .modal-create-publication .modal-create-publication-main .create-publication-form .div-name-classification .classification-container .dropdown-classification label input {
        width: 5%;

        transform: scale(1.3);
    }
}

@media screen and (min-width: 510px) and (max-width: 613px) {
    .backgroundListaPosts .mainListaPosts .modal-create-publication {
        width: 75%;

        position: absolute;
        left: 12%;
    }

    .backgroundListaPosts .mainListaPosts .modal-create-publication .modal-create-publication-main {
        padding: 0.5rem 0.5rem;
    }

    .backgroundListaPosts .mainListaPosts .modal-create-publication .modal-create-publication-main .create-publication-form .photo-container .photo-container-content {
        width: 51%;
        height: 9rem;
    }

    .backgroundListaPosts .mainListaPosts .modal-create-publication .modal-create-publication-main .create-publication-form .div-name-classification {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (min-width: 376px) and (max-width: 510px) {
    .backgroundListaPosts .mainListaPosts .modal-create-publication {
        width: 90%;

        position: absolute;
        left: 5%;
    }

    .backgroundListaPosts .mainListaPosts .modal-create-publication .modal-create-publication-main {
        padding: 0.5rem 0.5rem;
    }

    .backgroundListaPosts .mainListaPosts .modal-create-publication .modal-create-publication-main .create-publication-form .photo-container .photo-container-content {
        width: 51%;
        height: 9rem;
    }

    .backgroundListaPosts .mainListaPosts .modal-create-publication .modal-create-publication-main .create-publication-form .div-name-classification {
        display: flex;
        flex-direction: column;
    }

    .backgroundListaPosts .mainListaPosts .modal-create-publication .modal-create-publication-main .create-publication-form .div-name-classification .classification-container .dropdown-classification label input {
        width: 8%;

        transform: scale(1.3);
    }
}

@media screen and (min-width: 320px) and (max-width: 376px) {
    .backgroundListaPosts .mainListaPosts .modal-create-publication {
        width: 90%;

        position: absolute;
        left: 5%;
    }

    .backgroundListaPosts .mainListaPosts .modal-create-publication .modal-create-publication-header img {
        width: 1.5rem;
    }

    .backgroundListaPosts .mainListaPosts .modal-create-publication .modal-create-publication-header p {
        font-size: 1.2rem;
    }

    .backgroundListaPosts .mainListaPosts .modal-create-publication .modal-create-publication-main {
        padding: 0.5rem 0.5rem;
    }

    .backgroundListaPosts .mainListaPosts .modal-create-publication .modal-create-publication-main .create-publication-form .photo-container .photo-container-content {
        width: 51%;
        height: 9rem;
    }

    .backgroundListaPosts .mainListaPosts .modal-create-publication .modal-create-publication-main .create-publication-form .photo-container .photo-container-content .label-photo-container .label-content {
        font-size: 0.75rem;
    }

    .backgroundListaPosts .mainListaPosts .modal-create-publication .modal-create-publication-main .create-publication-form .div-name-classification {
        display: flex;
        flex-direction: column;
    }

    .backgroundListaPosts .mainListaPosts .modal-create-publication .modal-create-publication-main .create-publication-form .div-name-classification .classification-container .dropdown-classification label input {
        width: 8%;

        transform: scale(1.3);
    }
}

@media screen and (max-width: 320px) {
    .backgroundListaPosts .mainListaPosts .modal-create-publication {
        width: 90%;

        position: absolute;
        left: 5%;
    }

    .backgroundListaPosts .mainListaPosts .modal-create-publication .modal-create-publication-header img {
        width: 1.5rem;
    }

    .backgroundListaPosts .mainListaPosts .modal-create-publication .modal-create-publication-header p {
        font-size: 1.2rem;
    }

    .backgroundListaPosts .mainListaPosts .modal-create-publication .modal-create-publication-main {
        padding: 0.5rem 0.5rem;
    }

    .backgroundListaPosts .mainListaPosts .modal-create-publication .modal-create-publication-main .create-publication-form .photo-container .photo-container-content {
        width: 51%;
        height: 9rem;
    }

    .backgroundListaPosts .mainListaPosts .modal-create-publication .modal-create-publication-main .create-publication-form .photo-container .photo-container-content .label-photo-container .label-content {
        font-size: 0.75rem;
    }

    .backgroundListaPosts .mainListaPosts .modal-create-publication .modal-create-publication-main .create-publication-form .div-name-classification {
        display: flex;
        flex-direction: column;
    }

    .backgroundListaPosts .mainListaPosts .modal-create-publication .modal-create-publication-main .create-publication-form .div-name-classification .classification-container .dropdown-classification label input {
        width: 8%;

        transform: scale(1.3);
    }
}