@import url('./styles.css');

.fundoJS{
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.5;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

    display: none;
}

.modalAddNewUser{
    background-color: var(--green-100);
    width: 50%;
    border-radius: 1rem;
    font-family: var(--font-family-paragrafo);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.75rem;

    position: absolute;
    top: 5%;
    right: 25%;
    bottom: 5%;

    display: none;
}

.modalAddNewUserHeader{
    background-color: var(--green-900);
    width: 100%;
    height: min-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    gap: 0.2rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.modalAddNewUserMain{
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    padding: 1rem;
    overflow-y: auto;
}

.modalAddNewUserHeader p{
    color: var(--green-100);
    font-size: 1.5rem;
}

.inputsAddNewUser{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.inputsAddNewUser input{
    width: 100%;
    height: fit-content;
    padding: 0.625rem;
    border-radius: 0.5rem;
    border: 1px solid var(--green-700);
    color: var(--green-900);
    background: transparent;
}

.inputsAddNewUser input::placeholder{
    font-family: var(--font-family-paragrafo);
    color: var(--green-300);
    font-size: 0.75rem;
}

.inputsAddNewUser input:focus{
    outline: 1px solid var(--green-700);
}

.photo-container {
    display: flex;

    align-items: center;
    justify-content: center;
}

.photo-container-content {
    width: 31%;
    height: 10rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border: 2px solid var(--green-700);
    border-radius: 1rem;

    overflow: hidden;
}

.label-photo-container {
    width: 100%;
    height: 100%;
}

.preview-content {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 0.2rem;

    cursor: pointer;

    color: var(--green-700);

    text-align: center;
}

.preview-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.bottonsAddUser{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 2rem;
}

.btnCancelNewUser{
    all: unset;
    background-color: var(--green-200);
    color: var(--green-900);
    border: 1px solid var(--green-900);
    border-radius: 0.5rem;
    cursor: pointer;
    padding: 0.5rem;
}

.btnAddNewUser{
    all: unset;
    background-color: var(--green-900);
    color: var(--green-100);
    border: 1px solid var(--green-900);
    border-radius: 0.5rem;
    cursor: pointer;
    padding: 0.5rem;
}

/* RESPONSIVIDADE */
@media screen and (min-width: 789px) and (max-width: 1097px) {    
    .modalAddNewUser {
        width: 75%;
        position: absolute;
        left: 14%;
        top: 15%;
        bottom: 15%;
    }

    .photo-container-content {
        width: 41%;
        height: 10rem;
    }
}

@media screen and (min-width: 613px) and (max-width: 789px) {
    .modalAddNewUser {
        width: 65%;
        position: absolute;
        left: 17%;
    }

    .modalAddNewUserMain {
        padding: 0.5rem 0.8rem;
    }

    .photo-container-content {
        width: 51%;
        height: 10rem;
    }
}

@media screen and (min-width: 510px) and (max-width: 613px) {
    .modalAddNewUser {
        width: 75%;
        position: absolute;
        left: 12%;
    }

    .modalAddNewUserMain {
        padding: 0.5rem 0.5rem;
    }

    .photo-container-content {
        width: 51%;
        height: 9rem;
    }
}

@media screen and (min-width: 376px) and (max-width: 510px) {
    .modalAddNewUser {
        width: 90%;
        position: absolute;
        left: 5%;
    }

    .modalAddNewUserMain {
        padding: 0.5rem 0.5rem;
    }

    .photo-container-content {
        width: 51%;
        height: 9rem;
    }
}

@media screen and (min-width: 320px) and (max-width: 376px) {
    .modalAddNewUser {
        width: 90%;
        position: absolute;
        left: 5%;
    }

    .modalAddNewUserMain {
        padding: 0.5rem 0.5rem;
    }

    .photo-container-content {
        width: 51%;
        height: 9rem;
    }
}

@media screen and (max-width: 320px) {
    .modalAddNewUser {
        width: 90%;
        position: absolute;
        left: 5%;
    }

    .modalAddNewUserMain {
        padding: 0.5rem 0.5rem;
    }

    .photo-container-content {
        width: 51%;
        height: 9rem;
    }
}