body{
    margin: 0;
    font-family: var(--font-family-paragrafo);
}

.navbarGlobal{
    background-color: var(--green-900);
    align-items: center;
    padding: 0 1rem;
}

.sanduba .bi{
    display: none;
}

.navbar{
    background-color: var(--green-900);
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.8rem 7rem;
}

.navbarMobile{
    display: none;
}

.navbarText{
    color: var(--green-100);
    text-decoration: none;
    padding: 10px 10px;
    display: block;
}

.navbarText:hover{
    scale: 105%;
    transition: all 0.3s ease;
}

.navbarContent {
    display: flex;
    align-items: center;
}

.navbarDivider{
    background-color: var(--green-100);
    width: 1px;
    height: 30px;
}

.navbarLogo{
    height: 65px;
}

.navbarLoginButton{
    color: var(--green-900);
    background-color: var(--green-200);
    text-decoration: none;
    padding: 5px 15px;
    margin: 10px;
    display: block;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

.navbarLoginButton:hover{
    transition: all 0.3s ease-in-out;
    color: var(--green-100);
    background-color: var(--green-300);
    box-shadow: 5px 5px 12px 0px rgba(0, 0, 0, 0.9);
}

@media screen and (max-width:430px){
    
    .navbarGlobal{
        background-color: var(--green-900);
        display: flex;
        flex-direction: row; 
        align-items: center;
        padding: 1rem;
        font-size: 2.5rem;

        z-index: 1000;
    }

    .navbar{
        display: none;
    }

    .navbarMobile{
        display: flex;
        position: relative;
        flex-direction: column;
        justify-content: center;
        /* background-color: var(--green-900); */
        color: var(--green-100);
        width: 100%;
        height: max-content;
        align-items: center;
        justify-content: center;
        gap: 30px;
    }

    .navbarContentMobile{
        display: none;
        position: absolute;
        top: 124%;
        background-color: var(--green-900);
        flex-direction: column;
        width: 100vw;
        height: max-content;
        gap: 15px;
        font-size: 1.5rem;
        padding: 1rem;

        z-index: 1000;
    }
    
    .navbarTextMobile{
        display: flex;
        text-decoration: none;
        color: var(--green-100);
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    .navbarDividerMobile{
        background-color: var(--green-100);
        width: 100%;
        height: 1px;
    }

    .navbarLoginButtonMobile{
        color: var(--green-900);
        background-color: var(--green-200);
        text-decoration: none;
        padding: 5px 15px;
        display: flex;
        border-radius: 8px;
        width: 100%;
        max-height: max-content;
        align-items: center;
        justify-content: center;
        border: none;
    }

    .navbarLogoMobile{
        height: 5rem;
    }

    .sanduba{
        display: flex;
        width: 100%;
        justify-content: start;
        align-items: center;
        gap: 24%;
    }

    .sanduba .bi-list{
        display: flex;
        color: var(--green-100);
    }

    .sanduba .bi-x-lg{
        display: none;
        color: var(--green-100);
    }
}