@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

body{
    background-color: var(--green-200);
}

.pagina {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 0 10%;
}

.container {
    display: flex;
    padding: 7% 0 7% 0;
    align-items: center;
    /* justify-content: space-between; */
    width: 80%;
    height: 100%;
    /* border: 1px solid orange; */
}

.container h2 {
    font-family: var(--font-family-paragrafo);
    font-size: var(--font-size-titulo-desktop);
    width: 70%;
    color: var(--green-900);
    /* border: 1px solid rebeccapurple; */
}

.pesquisaFunil{
    display: flex;
    height: 48px;
    width: 100%;
    justify-content: end;
    gap: 2%;
}

.pesquisa {
    width: 70%;
    border-radius: 30px;
    border: none;
    padding: 0 3%;
    font-family: var(--font-family-paragrafo);
    color: var(--green-900);
    background-color: var(--green-100);
    display: flex;
    gap: 3%;
    align-items: center;
}

.pesquisa input {
    all: unset;

}

/* .pesquisa i {
    position: absolute;
    top: 11%;
    left: 59%;
} */

.funil {
    font-size: 30px;
    align-content: center;
    /* border: 1px solid red; */
    cursor: pointer;
}

.listaCards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 5rem;
    width: 80%;
    
    max-width: 1200px;
    /* align-items: start; */
    justify-content: center;
    grid-auto-rows: minmax(0, auto);
    /* padding-bottom: 5%; */
    /* border: 1px solid red; */
}


.card {
    background-color: rgba(236, 248, 240, 0.945);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 85%;
    box-shadow: 2px 4px 10px rgb(0, 0, 0, 0.5);
    cursor: pointer;
    /* border: 1px solid blue; */
    width: 100%;
}

.infos{
    width: 100%;    
}

.profile {
    display: flex;
    padding: 20px;
    width: 100%;
    font-family: var(--font-family-paragrafo);
    justify-content: space-between;
    align-items: center;
    color: var(--green-900);
}

.nomeEFoto {
    display: flex;
    gap: 5%;
    align-items: center;
}

.profile p {
    width: 100%;
    font-size: 20px;
}

.usuarioPosts {
    font-size: 30px;
    color: var(--green-900);
}

.folhinhaPosts {
    display: flex;
    font-size: 30px;
    color: var(--green-700);
    /* transform: scaleY(-1); */
    transform: rotate(300deg);
}

.imgPlantaPosts {
    width: 100%;
    height: 60%;
}

.imgPlantaPosts img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}



.conteudo {
    width: 100%;
    height: 25%;
    gap: 0%;
    padding: 3% 5%;
    display: flex;
    flex-direction: column;
    /* border: 1px solid red; */
}

.conteudo h3, .conteudo p, .hora {
    /* padding-bottom: 3%; */
    padding: 2px;
    /* border: 1px solid purple; */
    
}

.conteudo h3 {
    width: fit-content;
    font-size: clamp(1.2rem, 2vw, 1.8rem);
    font-family: var(--font-family-titulo);
    color: var(--green-900);
}

.conteudo p {
    
    font-size: 14px;
    font-family: var(--font-family-paragrafo);
}

.hora {
    display: flex;
    width: 100%;
    
    justify-content: flex-end;
    align-items: center;
    gap: 2%;
    padding-top: 4%;
}

.hora p {
    text-align: left;
    padding: 0%;
    font-family: var(--font-family-paragrafo);
    font-size: 13px;
    font-style: italic;
}

.hora i {
    text-align: right;
    font-size: 12px;
}

.paginacao {
    width: 100%;
    /* height: 50%; */
    justify-content: center;
    padding: 0 5%;
    padding-bottom: 5%;
    /* align-items: center; */
    display: flex;
    font-family: var(--font-family-paragrafo);
    /* font-weight: bold; */
    color: var(--green-900);
}

.elementosPaginacao {
    font-size: 18px;
    width: fit-content;
    height: fit-content;
    color: var(--green-900);
    display: flex;
    padding: 0.8% 2% 0.8% 2%;

    /* padding: 0 1%; */
    /* border: 1px solid firebrick; */
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.422);
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.7px);
    -webkit-backdrop-filter: blur(3.7px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.arcos {
    display: flex;
    /* gap: 12%; */
    /* padding: 4%; */
    justify-content: center;
    height: 100%;
    width: fit-content;
    /* background-color: blue; */
    /* border: 1px solid magenta; */
}

.arcos i {
    display: flex;
    text-align: center;
    align-items: center;
    padding: 4%;
    cursor: pointer;
    color: var(--green-900);

}

.numeros {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 9%;
    color: var(--green-900);
    height: 100%;
    margin: 1%;

    /* gap: 30%;
    width: 100%;
    justify-content: center;
    padding: 5%; */
    /* border: 1px solid red; */
}

.numeros p {
    padding: 7%;

    /* border: 1px solid aqua; */
}

.item-paginacao {
    /* height: 3rem; */
    border-radius: 10px;
    width: 3rem;
    display: flex;
    background-color: var(--green-200);
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(3.7px);
    -webkit-backdrop-filter: blur(3.7px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.item-paginacao:hover {
    background-color: var(--green-500);
    cursor: pointer;
    /* height: 70%; */
}

@media screen and (min-width: 1300px) and (max-width: 1420px){
    .conteudo h3 {
        font-size: 22px;
    }

    .conteudo p {
        font-size: 12px;
    }

    .hora {
        font-size: 7px;
    }
}

@media screen and (min-width: 1105px) and (max-width: 1299px){
    .container h2 {
        font-size: 28px;
    }
    
    .conteudo h3 {
        font-size: 22px;
    }

    .conteudo p {
        font-size: 12px;
    }

    .hora {
        font-size: 7px;
    }

    .listaCards {
        gap: 4rem;
        padding-bottom: 5%;
    }

    .card {
        height: 100%;
    }

}


    /* Tablets */
@media screen and (min-width: 789px) and (max-width: 992px){
    .pagina {
        padding: 0 8%;
    }
    
    .container {
        width: 100%;
    }

    .container h2 {
        font-size: 25px;
    }


    
    .listaCards {
        width: 100%;
        gap: 4rem 3rem;
    }

    .card {
        height: 100%;
    }

    .conteudo h3 {
        font-size: 20px;
    }

    .conteudo p {
        font-size: 12px;
    }

    .hora {
        font-size: 8px;
    }

    .paginacao {
        padding: 6%;
    }

}

/* Tablets pequenos */
@media screen and (min-width: 600px) and (max-width: 788px){
    .pagina {
        padding: 5%;
    }

    .container {
        width: 100%;
    }

    /* .container h3 {
        font-size: 15px;
    } */

    .listaCards {
        width: 100%;
    
    }
}

/* Smartphones grandes */
@media screen and (min-width: 361px) and (max-width: 703px){
    .pagina {
        padding: 0;
    }

    .container {
        display: flex;
        flex-direction: column-reverse;
        gap: 20%;
    }

    .container h2 {
        font-size: 24px;
        width: 100%;
    }

    .pesquisa {
        width: 90%;
    }
    
    .listaCards {
        grid-template-columns: repeat(1, 1fr);
        gap: 0.5rem;
    }

    .card {
        width: 100%;
        height: 92%;
    }

    .profile {
        padding: 3% 5%;
    }

    .nomeEFoto p {
        font-size: 17px;
    }

    .imgPlantaPosts {
        height: 55%;
    }

    .conteudo h3 {
        font-size: 23px;
    }

    .conteudo p {
        font-size: 12px;
    }

    .hora {
        padding-bottom: 3%;
    }

    .paginacao {
        padding: 0 10% 15% 10%;
    }

    .elementosPaginacao {
        width: 85%;
        display: flex;
        padding: 2%;
        justify-content: center;
    }
}

/* Smartphones pequenos */
@media screen and (max-width: 360px){
    .pagina {
        padding: 0;
    }

    .container {
        display: flex;
        flex-direction: column-reverse;
        gap: 20%;
    }

    .container h2 {
        font-size: 24px;
        width: 100%;
    }

    .conteudo p {
        font-size: 12px;
    }

    .pesquisa {
        width: 87%;
    }
    
    .listaCards {
        grid-template-columns: repeat(1, 1fr);
        gap: 3rem;
    }

    .card {
        width: 100%;
        height: 98%;
    }

    .profile {
        padding: 3% 5%;
    }

    .nomeEFoto p {
        font-size: 17px;
    }

    .imgPlantaPosts {
        height: 60%;
    }

    .hora {
        padding-bottom: 3%;
    }

    .paginacao {
        padding: 0 10% 15% 10%;
        padding-top: 0;
    }

    .elementosPaginacao {
        width: 100%;
        display: flex;
        justify-content: center;
    }
}