@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

body{
    background-color: var(--green-200);
}

.pagina {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 0 10%;
}

.container {
    display: flex;
    padding: 7% 5.5% 7% 0;
    align-items: center;
    /* justify-content: space-between; */
    width: 100%;
    height: 100%;
    /* border: 1px solid orange; */
}

.container h2 {
    font-family: var(--font-family-paragrafo);
    font-size: var(--font-size-titulo-desktop);
    width: 70%;
    color: var(--green-900);
    /* border: 1px solid rebeccapurple; */
}

.pesquisaFavoritos{
    display: flex;
    height: 48px;
    width: 100%;
    gap: 3%;
    /* border: 1px solid red; */
    justify-content: end;
}

.pesquisa {
    width: 60%;
    border-radius: 30px;
    border: none;
    padding: 0 3%;
    font-family: var(--font-family-paragrafo);
    color: var(--green-900);
    background-color: var(--green-100);
    display: flex;
    gap: 3%;
    align-items: center;
}

.pesquisa input {
    all: unset;
}

.btnPublicacoesFavoritasContainer {
    display: flex;
    justify-content: end;
    width: fit-content;
    align-items: center;
    /* padding: 0 4.2rem 2rem 0; */
    /* border: 1px solid purple; */
}

.btnPublicacoesFavoritas {
    all: unset;
    padding: 0.6rem;
    background-color: var(--green-700);
    color: var(--green-100);
    border-radius: 0.5rem;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    /* height: 100%; */
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.btnPublicacoesFavoritas:hover {
    transform: scale(1.05);
    transition: all 0.2s ease-in-out;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

/* .pesquisa i {
    position: absolute;
    top: 11%;
    left: 59%;
} */

.listaCards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 5rem;
    width: 100%;
    /* max-width: 1200px; */
    /* align-items: start; */
    justify-content: center;
    /* grid-auto-rows: minmax(0, auto); */
    /* padding-bottom: 5%; */
    /* border: 1px solid red; */

    gap: 5rem;

    padding-bottom: 5rem;
}


.card {
    background-color: rgba(236, 248, 240, 0.945);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    width: 500px;
    height: fit-content;
    min-height: 500px;
    box-shadow: 2px 4px 10px rgb(0, 0, 0, 0.5);
    cursor: pointer;
    /* border: 1px solid blue; */
    /* width: 100%; */
}
.card a{
    all: unset;
}

.infos{
    width: 100%;    
}

.profile {
    display: flex;
    padding: 20px;
    width: 100%;
    font-family: var(--font-family-paragrafo);
    justify-content: space-between;
    align-items: center;
    color: var(--green-900);
}

/* .form:focus {
    outline: none;
} */

.nomeEFoto {
    display: flex;
    gap: 5%;
    align-items: center;
}

.nomeUsuarioPosts p{
    white-space: nowrap;
}

.fotoUsuarioPosts {
    width: 30px;
    height: 30px;
    /* border: 1px solid red; */
}

.fotoUsuarioPosts img{
    width: 30px;
    height: 30px;
    border-radius: 20px;
    object-fit: cover;
}

.profile p {
    width: 100%;
    font-size: 20px;
}

.usuarioPosts {
    font-size: 30px;
    color: var(--green-900);
}

.folhinhaPosts {
    display: flex;
    transform: rotate(300deg);
    opacity: 1;
    position: relative;
}

.folhinhaPosts i {
    /* align-items: center; */
    position: absolute;
    color: var(--green-700);
    font-size: 30px;
    transition: opacity .2s ease;
    bottom: 10px;
    right: 3px;
    /* border: 1px solid red; */
}

.folhinhaPosts i:hover{
    opacity: 0;
}

.folhinhaPosts i:first-child {
    opacity: 1;
}

.folhinhaPosts i:last-child {
    opacity: 0;
}

.folhinhaPosts:hover i:first-child {
    opacity: 0;
}

.folhinhaPosts:hover i:last-child {
    opacity: 1;
}

.folhinhaPosts i.blocked, .folhinhaPosts i.blocked:hover {
    opacity: 1 !important;
}

.folhinhaPosts i.blocked + i, .folhinhaPosts i.blocked + i:hover {
    opacity: 0 !important;
}

.folhinhaPosts .bi-leaf.blocked {
    color: var(--green-200);
    cursor: not-allowed;
}

.folhinhaPosts .bi-leaf-fill.blocked {
    color: var(--green-100);
    cursor: not-allowed;
}

.imgPlantaPosts {
    width: 100%;
    height: 350px;
    /* display: block; */
}

.imgPlantaPosts img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.conteudo {
    width: 100%;
    height: 25%;
    gap: 0%;
    padding: 3% 5%;
    display: flex;
    flex-direction: column;
    /* border: 1px solid red; */
}

.conteudo h3, .conteudo p, .hora {
    /* padding-bottom: 3%; */
    padding: 2px;
    /* border: 1px solid purple; */
    
}

.conteudo h3 {
    width: fit-content;
    font-size: 25px;
    font-family: var(--font-family-titulo);
    color: var(--green-900);
    /* white-space: nowrap; */
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    width: 100%;
}

.conteudo p {
    font-size: 14px;
    font-family: var(--font-family-paragrafo);
    padding-bottom: 3%;
}

.pMaluco {
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis; 
    width: 100%;
}

.classificacoes {
    display: flex;
    font-family: var(--font-family-paragrafo);
    font-size: 10px;
    width: 100%;
    justify-content: center;
    gap: 4%;
    
}
.classificacoes p{
    font-size: 0.8rem;
    font-weight: 600;
    background-color: var(--green-200);
    border-radius: 20px;
    padding: 1% 6% 1% 6%;
}

.hora {
    display: flex;
    width: 100%;
    
    justify-content: flex-end;
    align-items: center;
    gap: 2%;
    padding-top: 4%;
}

.hora p {
    text-align: left;
    padding-bottom: 2%;
    font-family: var(--font-family-paragrafo);
    font-size: 13px;
    font-style: italic;
}

.hora i {
    text-align: right;
    font-size: 12px;
    padding-bottom: 2%;
}

.paginacao {
    width: 100%;
    /* height: 50%; */
    justify-content: center;
    padding: 0 5%;
    padding-bottom: 5%;
    /* align-items: center; */
    display: flex;
    font-family: var(--font-family-paragrafo);
    /* font-weight: bold; */
    color: var(--green-900);
}

.elementosPaginacao {
    font-size: 18px;
    width: fit-content;
    height: fit-content;
    color: var(--green-900);
    display: flex;
    padding: 0.8% 2% 0.8% 2%;

    /* padding: 0 1%; */
    /* border: 1px solid firebrick; */
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.422);
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.7px);
    -webkit-backdrop-filter: blur(3.7px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.arcos {
    display: flex;
    /* gap: 12%; */
    /* padding: 4%; */
    justify-content: center;
    height: 100%;
    width: fit-content;
    /* background-color: blue; */
    /* border: 1px solid magenta; */
}

.arcos i {
    display: flex;
    text-align: center;
    align-items: center;
    padding: 4%;
    cursor: pointer;
    color: var(--green-900);

}

.numeros {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 9%;
    color: var(--green-900);
    height: 100%;
    margin: 1%;

    /* gap: 30%;
    width: 100%;
    justify-content: center;
    padding: 5%; */
    /* border: 1px solid red; */
}

.numeros p {
    padding: 7%;

    /* border: 1px solid aqua; */
}

.item-paginacao {
    /* height: 3rem; */
    border-radius: 10px;
    width: 3rem;
    display: flex;
    background-color: var(--green-200);
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(3.7px);
    -webkit-backdrop-filter: blur(3.7px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.item-paginacao:hover {
    background-color: var(--green-500);
    cursor: pointer;
    /* height: 70%; */
}

@media screen and (min-width: 1300px) and (max-width: 1420px){
    .conteudo h3 {
        font-size: 22px;
    }

    .conteudo p {
        font-size: 12px;
    }

    .hora {
        font-size: 7px;
    }
}

@media screen and (min-width: 1105px) and (max-width: 1299px){
    .container h2 {
        font-size: 28px;
        white-space: nowrap;
    }
    
    .conteudo h3 {
        font-size: 22px;
        display: flex;
        height: 30px;
    }

    .conteudo p {
        font-size: 12px;
    }

    .hora {
        font-size: 7px;
    }

    .listaCards {
        gap: 4rem;
        padding-bottom: 5%;
    }

    .card {
        display: flex;
        width: 450px;
        height: fit-content;
    }

    /* .classificacoes {
        padding-top: 5%;
    } */

}


    /* Tablets */
@media screen and (min-width: 789px) and (max-width: 992px){
    .pagina {
        padding: 0 7%;
    }
    
    .container {
        width: 100%;
    }

    .container h2 {
        font-size: 25px;
        white-space: nowrap;
    }

    .listaCards {
        width: 100%;
        gap: 4rem 3rem;
        justify-items: space-between;
    }

    .card {
        width: 400px;
    }

    .conteudo h3 {
        font-size: 20px;
        
    }

    .conteudo p {
        font-size: 12px;
    }

    .hora {
        font-size: 8px;
    }

    .paginacao {
        padding: 6%;
    }

}

/* Tablets pequenos */
@media screen and (min-width: 600px) and (max-width: 788px){
    .pagina {
        padding: 0 7%;
    }
    
    .container {
        width: 100%;
    }

    .container h2 {
        font-size: 25px;
        white-space: nowrap;
    }

    .listaCards {
        width: 100%;
        gap: 4rem 3rem;
        justify-items: space-between;
    }

    .card {
        width: 300px;
    }

    .imgPlantaPosts {
    width: 100%;
    height: 300px;
    /* display: block; */
    }

    .imgPlantaPosts img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .conteudo h3 {
        font-size: 20px;
        
    }

    .conteudo p {
        font-size: 12px;
    }

    .classificacoes {
        padding: 0 10%;
    }

    .hora {
        font-size: 8px;
    }

    .paginacao {
        padding: 6%;
    }
}

/* Smartphones grandes */
@media screen and (min-width: 550px) and (max-width: 703px){
    .pagina {
        padding: 0;
    }

    .container {
        display: flex;
        flex-direction: column-reverse;
        gap: 20%;
        padding: 5% 5% 0 5%;
        height: fit-content;
    }

    .container h2 {
        font-size: 24px;
        width: 100%;
        justify-content: center;
        text-align: center;
        padding-top: 5%;
    }

    .pesquisa {
        width: 100%;
    }

    .btnPublicacoesFavoritasContainer {
        /* width: 50%; */
        padding: 0;
        justify-content: center;
    }
    
    .listaCards {
        grid-template-columns: repeat(1, 1fr);
        gap: 3rem;
        padding: 5%;
        justify-items:  center;
    }

    .card {
        width: 500px;
        height: fit-content;
        
    }

    .profile {
        padding: 3% 5%;
        display: flex;
        height: fit-content;
    }

    .nomeEFoto {
        display: flex;
        height: fit-content;
        width: fit-content;
    }

    .nomeEFoto p {
        font-size: 17px;
    }

    .fotoUsuarioPosts img{
        width: 30px;
        height: 30px;
    }

    .imgPlantaPosts {
    width: 100%;
    height: 350px;
    /* display: block; */
    }

.imgPlantaPosts img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

    .conteudo h3 {
        font-size: 23px;
        padding: 2% 0;
    }

    .pMaluco {
        font-size: 12px;
        padding-bottom: 0;
    }

    .classificacoes {
        padding: 3% 0;
    }

    .hora {
        padding-top: 1%;
    }

    .paginacao {
        padding: 0 10% 15% 10%;
    }

    .elementosPaginacao {
        width: 85%;
        display: flex;
        padding: 2%;
        justify-content: center;
    }
}

/* Smartphones pequenos */
@media screen and (max-width: 550px){
    .pagina {
        padding: 0;
    }

    .container {
        display: flex;
        flex-direction: column-reverse;
        gap: 20%;
        padding: 5% 5% 0 5%;
        height: fit-content;
    }

    .container h2 {
        font-size: 24px;
        width: 100%;
        justify-content: center;
        text-align: center;
        padding: 7% 3% 0 3%;
    }

    .pesquisa {
        width: 100%;
    }

    .btnPublicacoesFavoritasContainer {
        /* width: 50%; */
        padding: 0;
        justify-content: center;
    }
    
    .listaCards {
        grid-template-columns: repeat(1, 1fr);
        gap: 3rem;
        padding: 5%;
        justify-items:  center;
    }

    .card {
        width: 400px;
        height: fit-content;
        
    }

    .profile {
        padding: 3% 5%;
        display: flex;
        height: fit-content;
    }

    .nomeEFoto {
        display: flex;
        height: fit-content;
        width: fit-content;
    }

    .nomeEFoto p {
        font-size: 17px;
    }

    .fotoUsuarioPosts img{
        width: 30px;
        height: 30px;
    }

    .imgPlantaPosts {
    width: 100%;
    height: 300px;
    /* display: block; */
}

.imgPlantaPosts img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

    .conteudo h3 {
        font-size: 23px;
        padding: 2% 0;
    }

    .pMaluco {
        font-size: 12px;
        padding-bottom: 0;
    }

    .classificacoes {
        padding: 3% 0;
    }

    .hora {
        padding-top: 1%;
    }

    .paginacao {
        padding: 5% 10% 10% 10%;
    }

    .elementosPaginacao {
        width: 70%;
        display: flex;
        padding: 2%;
        justify-content: center;
    }
}

@media screen and (max-width: 480px){
    .pagina {
        padding: 0;
    }

    .container {
        display: flex;
        flex-direction: column-reverse;
        gap: 20%;
        padding: 5% 5% 0 5%;
        height: fit-content;
    }

    .container h2 {
        font-size: 24px;
        width: 100%;
        justify-content: center;
        text-align: center;
        padding: 8% 3% 3% 3%;
    }

    .pesquisaFavoritos {
        display: flex;
        justify-content: center;
    }

    .pesquisa {
        width: 60%;
    }

    .btnPublicacoesFavoritasContainer {
        /* width: 50%; */
        padding: 0;
        justify-content: center;
    }
    
    .listaCards {
        grid-template-columns: repeat(1, 1fr);
        gap: 3rem;
        padding: 5%;
        justify-items:  center;
    }

    .card {
        display: flex;
        width: 300px;
        height: fit-content;
    }

    .profile {
        padding: 3% 5%;
        display: flex;
        height: fit-content;
    }

    .nomeEFoto {
        display: flex;
        height: fit-content;
        width: fit-content;
    }

    .nomeEFoto p {
        font-size: 15px;
    }

    .folhinhaPosts i{
        font-size: 20px;
    }

    .fotoUsuarioPosts img{
        width: 30px;
        height: 30px;
    }

    .imgPlantaPosts {
    width: 100%;
    height: 300px;
    /* display: block; */
}

.imgPlantaPosts img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

    .conteudo h3 {
        font-size: 20px;
        padding: 2% 0;
    }

    .pMaluco {
        font-size: 12px;
        padding-bottom: 0;
    }

    .classificacoes {
        padding: 3% 15%;
    }

    .hora {
        padding-top: 1%;
    }

    .paginacao {
        padding: 5% 10% 10% 10%;
    }

    .elementosPaginacao {
        width: 85%;
        display: flex;
        padding: 2%;
        justify-content: center;
    }
}


.bi,
i.bi {
    display: inline-block;
    font-family: "bootstrap-icons" ;
    /* font-size: 1.5rem ; */
}

