@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

body{
    background-color: var(--green-200);
    
}

.pagina {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 0 10%;
}


.container {
    display: flex;
    padding: 5% 3.5%;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    /* border: 1px solid orange; */
}

.container h2 {
    font-family: var(--font-family-paragrafo);
    font-size: var(--font-size-titulo-desktop);
    width: 100%;
    color: var(--green-900);
    /* border: 1px solid rebeccapurple; */

}
.pesquisaEFunil {
    display: flex;
    gap: 5%;
    /* border: 1px solid red; */
    width: 100%;
    justify-content: end;
}



.pesquisa {
    font-family: var(--font-family-paragrafo);
    background-color: white;
    border-radius: 60px;
    /* width: 100%; */
    padding: 10px 10px ;
    display: flex;
    gap: 15%;
    align-items: center;
    padding-right: 300px;
    /* border: 1px solid black; */
    color: var(--green-900);
}

.pesquisa p {
    /* font-size: 16px;
    height: 100%;
    width: 100%;
    text-align: center;
    border: 1px solid red; */
}


.funilPosts {
    font-size: 25px;
    padding-left: 1%;
    color: var(--green-900);
    width: 100%;
    top: 80px;
} 

/* .funilPosts i {
    width: 20%;
    font-size: 30px;
}  */

.listaCards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5rem;
    width: 100%;
    max-width: 1200px;
    /* align-items: start; */
    justify-items: center;
    grid-auto-rows: minmax(0, auto);
    /* padding-bottom: 5%; */
}


.card {
    background-color: aliceblue;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    width: 90%;
    box-shadow: 2px 4px 10px rgb(0, 0, 0, 0.5);

}

.infos{
    width: 100%;    
}

.profile {
    display: flex;
    padding: 20px;
    width: 100%;
    font-family: var(--font-family-paragrafo);
    justify-content: space-between;
    align-items: center;
    
}

.nomeEFoto {
    display: flex;
    gap: 5%;
    align-items: center;
}

.profile p {
    width: 100%;
    font-size: 20px;
}

.usuarioPosts {
    font-size: 30px;
}

.folhinhaPosts {
    display: flex;
    font-size: 30px;
    color: var(--green-700);
}

.imgPlantaPosts {
    width: 100%;
}

.imgPlantaPosts img {
    width: 100%;
    object-fit: cover;
}


.conteudo h3, #conteudo p, #hora {
    padding-bottom: 3%;
}

.conteudo {
    width: 100%;
    gap: 0%;
    padding: 3% 5%;
    display: flex;
    flex-direction: column;
}

.conteudo h3 {
    width: fit-content;
    font-size:30px;
    font-family: var(--font-family-titulo);
    color: var(--green-900);
}

.conteudo p {
    
    font-size: 14px;
    font-family: var(--font-family-paragrafo);
    
}

.hora {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    gap: 2%;
    padding-top: 4%;
}

.hora p {
    text-align: left;
    padding: 0%;
    font-family: var(--font-family-paragrafo);
    font-size: 13px;
    font-style: italic;
}

.hora i {
    text-align: right;
    font-size: 12px;
}

.paginacao {
    width: 100%;
    justify-content: center;
    padding: 5% 25% ;
    /* align-items: center; */
    display: flex;
    font-family: var(--font-family-paragrafo);
    font-weight: bold;
    color: var(--green-900);
}

.elementosPaginacao {
    font-size: 25px;
    width: 100%;
    /* border: 1px solid firebrick; */
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.18);
    border-radius: 40px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.7px);
    -webkit-backdrop-filter: blur(3.7px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.arcos {
    display: flex;
    gap: 5%;
    padding: 4%;
    justify-content: center;
    align-items: center;
    /* border: 1px solid magenta; */
}

.arcos i {
    display: flex;
    text-align: center;
    align-items: center;
    padding: 1%;
}

.numeros {
    display: flex;
    width: 50%;
    justify-content: center;
    gap: 10%;
    /* gap: 30%;
    width: 100%;
    justify-content: center;
    padding: 5%; */
    /* border: 1px solid red; */
}

.numeros p {
    padding: 4%;
    /* border: 1px solid aqua; */
}

.numeros p:hover {
    background-color: var(--green-500);
    border-radius: 10px;
}

.arcos i:hover {
    background-color: var(--green-500);
    border-radius: 10px;
}

@media (max-width: 790px) {
    .pagina {
        padding: 0 1%;
    }

    .pesquisaEFunil{
        width: 80%;
    }

    .pesquisaFunil {
        display: flex;
        
    }

    .listaCards {
        grid-template-columns: 1fr;
        
    }

    .profile {
        padding: 5%;
    }

    .nomeEFoto {
        gap: 5%;
    }

    .container {
        display: flex;
        flex-direction:column-reverse;
    }

    .container h2 {
        font-size: 20px;
        padding-top: 5%;
    }

    .pesquisa {
        width: 30%;
        display: flex;

    }

    .funilPosts {
        /* justify-content: center ; */
        width: fit-content;
        align-items: center;
        height: 100%;
    
    }

    .pesquisaEFunil {
        gap: 5px;
    }

}