@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

body{
    background-color: var(--green-200);
    padding: 0 10%;
    
}

.pagina {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
}


.container {
    display: flex;
    gap: 10px;
    padding: 7% 3% 7% 3%;
    align-items: center;
}

.container h2 {
    font-family: var(--font-family-paragrafo);
    font-size: var(--font-size-titulo-desktop);
    width: 100%;
}

.pesquisa {
    font-family: var(--font-family-paragrafo);
    background-color: white;
    border-radius: 60px;
    height: 100%;
    width: 60%;
    padding: 15px 10px ;
    display: flex;
    gap: 10px;
    /*border: 1px solid black;*/
    align-items: center;
}

.pesquisa p {
    font-size: 16px;
    height: 100%;
    
}

.funilPosts {
    width: fit-content;
    display: flex;
    align-items: center;
}

.funilPosts i {
    width: 20%;
    font-size: 30px;
}

.listaCards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    gap: 2rem;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    align-items: start;
    justify-items: center;
    grid-auto-rows: minmax(0, auto);
}


.card {
    background-color: aliceblue;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    width: 90%;
    box-shadow: 2px 4px 10px rgb(0, 0, 0, 0.5);

}

.infos{
    width: 100%;    
}

.profile {
    display: flex;
    padding: 20px;
    width: 100%;
    font-family: var(--font-family-paragrafo);
    justify-content: space-between;
    align-items: center;
    
}

.nomeEFoto {
    display: flex;
    gap: 10%;
    align-items: center;
}

.profile p {
    width: 100%;
    font-size: 20px;
}

.usuarioPosts {
    font-size: 30px;
}

.folhinhaPosts {
    display: flex;
    font-size: 30px;
    color: var(--green-700);
}

.imgPlantaPosts {
    width: 100%;
}

.imgPlantaPosts img {
    width: 100%;
    object-fit: cover;
}


.conteudo h3, #conteudo p, #hora {
    padding-bottom: 3%;
}

.conteudo {
    width: 100%;
    gap: 0%;
    padding: 3% 5%;
    display: flex;
    flex-direction: column;
}

.conteudo h3 {
    width: fit-content;
    font-size:30px;
    font-family: var(--font-family-titulo);
    
}

.conteudo p {
    
    font-size: 14px;
    font-family: var(--font-family-paragrafo);
    
}

.hora {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    gap: 2%;
    padding-top: 4%;
}

.hora p {
    text-align: left;
    padding: 0%;
    font-family: var(--font-family-paragrafo);
    font-size: 12px;
    font-style: italic;
}

.hora i {
    text-align: right;
    font-size: 11px;
}

.paginacao {
    display: flex;
    gap: 150%;
    font-size: 30px;
    padding: 10%;
    font-family: var(--font-family-paragrafo);
}

.numeros {
    font-size: 30px;
    display: flex;
    gap: 100%;
    justify-content:center ;
}

.numeros p:hover {
    background-color: var(--green-500);
    border-radius: 50px;
    padding: 8%;
}
