@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

body{
    background-color: var(--green-200);
    
}

.pagina {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 0 10%;
}


.container {
    display: flex;
    gap: 10px;
    padding: 7% 5% 7% 5%;
    /* align-items: center; */
    justify-content: space-between;
    width: 100%;
}

.container h2 {
    font-family: var(--font-family-paragrafo);
    font-size: var(--font-size-titulo-desktop);
    width: 100%;
    color: var(--green-900);
}

.pesquisa {
    font-family: var(--font-family-paragrafo);
    background-color: white;
    border-radius: 60px;
    height: 100%;
    width: 100%;
    padding: 15px 10px ;
    display: flex;
    gap: 10px;
    align-items: center;
    padding-right: 300px;
}

.pesquisa input {
    font-size: 16px;
    height: 100%;
    width: 100%;
    
}

.pesquisaEFunil {
    display: flex;
    gap: 10%;
}

.funilPosts {
    width: fit-content;
    display: flex;
    align-items: center;
}

.funilPosts i {
    width: 20%;
    font-size: 30px;
}

.listaCards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5rem;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    align-items: start;
    justify-items: center;
    grid-auto-rows: minmax(0, auto);
}


.card {
    background-color: aliceblue;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    width: 90%;
    box-shadow: 2px 4px 10px rgb(0, 0, 0, 0.5);

}

.infos{
    width: 100%;    
}

.profile {
    display: flex;
    padding: 20px;
    width: 100%;
    font-family: var(--font-family-paragrafo);
    justify-content: space-between;
    align-items: center;
    
}

.nomeEFoto {
    display: flex;
    gap: 10%;
    align-items: center;
}

.profile p {
    width: 100%;
    font-size: 20px;
}

.usuarioPosts {
    font-size: 30px;
}

.folhinhaPosts {
    display: flex;
    font-size: 30px;
    color: var(--green-700);
}

.imgPlantaPosts {
    width: 100%;
}

.imgPlantaPosts img {
    width: 100%;
    object-fit: cover;
}


.conteudo h3, #conteudo p, #hora {
    padding-bottom: 3%;
}

.conteudo {
    width: 100%;
    gap: 0%;
    padding: 3% 5%;
    display: flex;
    flex-direction: column;
}

.conteudo h3 {
    width: fit-content;
    font-size:30px;
    font-family: var(--font-family-titulo);
    color: var(--green-900);
}

.conteudo p {
    
    font-size: 14px;
    font-family: var(--font-family-paragrafo);
    
}

.hora {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    gap: 2%;
    padding-top: 4%;
}

.hora p {
    text-align: left;
    padding: 0%;
    font-family: var(--font-family-paragrafo);
    font-size: 13px;
    font-style: italic;
}

.hora i {
    text-align: right;
    font-size: 12px;
}

.paginacao {
    width: 100%;
    justify-content: center;
    padding: 1% 20%;
    /* align-items: center; */
    display: flex;
    font-family: var(--font-family-paragrafo);
    font-weight: bold;
}

.elementosPaginacao {
    font-size: 25px;
    width: 100%;
}

.arcos {
    display: flex;
    gap: 30%;
    padding: 4%;
    justify-content: center;
    align-items: center;
}

.arcos i {
    display: flex;
    text-align: center;
    align-items: center;
    padding: 1%;
}

.numeros {
    display: flex;
    gap: 30%;
    width: 100%;
    justify-content: center;
    padding: 5%;
}

.numeros p {
    padding: 8%;
}

.numero1 {
    background-color: var(--green-500);
    border-radius: 100px;
    padding: 8%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.numeros p:hover {
    background-color: var(--green-500);
    border-radius: 50px;
}

.arcos i:hover {
    background-color: var(--green-500);
    border-radius: 40%;
}

@media (max-width: 790px) {
    .pagina {
        padding: 0 1%;
    }

    .listaCards {
        grid-template-columns: 1fr;
        
    }

    .profile {
        padding: 5%;
    }

    .nomeEFoto {
        gap: 5%;
    }

    .container {
        display: flex;
        flex-direction:column-reverse;
    }

    .container h2 {
        font-size: 20px;
        padding-top: 5%;
    }

    .pesquisa {
        width: 100%;
        display: flex;
    }

    .funilPosts {
        justify-content: center ;
        width: fit-content;
    }

    .pesquisaEFunil {
        gap: 5px;
    }

}