@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");
* {
    margin:0;
    padding:0;
    box-sizing:border-box;
    
}
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
}
.pagina {
    width: 100%;
    background-color: var(--green-200);
}

.sidebar{
    display: flex;
    height: 100vh;
    width: 15vw;
}
.sidebarcontfull{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
}
.logo{
    display: flex;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 20%;
    background-color: var(--green-900);
    padding: 13%;
}
.logo img{
    width: 100%;
    object-fit: contain;

}
.contentsidebar{
    display: flex;
    flex-direction: column;
    height: 80%;
    width: 100%;
    font-family: var(--font-family-paragrafo);

}
.botoes{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 30%;
    background-color: transparent;
    list-style: none;
    text-decoration: none;
}
.dashboardbot{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 33%;
    align-items: center;
    justify-content: center;
    align-content: center;
    gap: 5%;
    cursor: pointer;
    background-color: var(--green-900);
    border-bottom-right-radius: 50px;
}
.dashicon {
    color: white;
    font-size: 25px;
}
.dashtext h1 {
    font-size: 0.8rem;
    margin: 0;
    color: white;
}
.userbot{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 33%;
    align-items: center;
    justify-content: center;
    gap: 5%;
    cursor: pointer;
    background-color: var(--green-900);
}
.userin {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: var(--green-200);
    width: 100%;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    height: 100%;
    padding-right: 10%;
    gap: 5%;
}
.usericon {
    color: var(--green-900);
    font-size: 25px;
}
.usertext h1{
    font-size: 0.8rem;
    color: var(--green-900);
    margin: 0;
}
.postbot{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 34%;
    align-items: center;
    justify-content: center;
    gap: 5%;
    cursor: pointer;
    border-top-right-radius: 50px;
    background-color: var(--green-900);
}
.posticon {
    font-size: 25px;
    color: white;
}
.posttext h1{
    font-size: 0.8rem;
    color: white;
    margin: 0;
}
.vazio{
    display: flex;
    width: 100%;
    background-color: var(--green-900);
    height: 60%;
}
.logout{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 10%;
    align-items: center;
    justify-content: center;
    gap: 5%;
    background-color: var(--green-900);
    cursor: pointer;
}
.logouticon {
    color: white;

}
.logouttext h1{
    font-size: 0.8rem;
    color: white;
    margin: 0;
}
.logomobile{
    display: none;
}
@media ((max-width: 1000px)){

.pagina{
    width: fit-content;
    height: 100vh;
    background-color: var(--green-200);
    overflow-y: hidden;
}
.sidebar{
    display: flex;
    height: fit-content;
    width: fit-content;
}
.sidebarcontfull{
    display: flex;
    flex-direction: row;
    width: fit-content;
}
.contentsidebar{
    display: flex;
    flex-direction: row;
    height: fit-content;
    width: fit-content;
}
.vazio{
    display: none;
}
.botoes{
    width: 80vw;
    display: flex;
    flex-direction: row;
    height: 30vh;

}
.dashboardbot{
    display: flex;
    flex-direction: column;    
    border-radius: 0;
}
.userin {
    display: flex;
    flex-direction: column;
    border-radius: 0;
    background-color: var(--green-900);
    padding: 0;
}
.usericon i {
    size: 20px;
    color: white;
}
.usertext h1{
    color: white;
}
.logomobile{
    display: flex;
    background-position: center;
    background-size: cover;
    width: fit-content;
    height: 33%;
    background-color: var(--green-900);
    padding: 1%;
}
.postbot {
    display: flex;
    flex-direction: column;
    border-radius: 0;
    height: 33%;
}
.logouticon{
    font-size: 25px;
}
.logout {
    display: flex;
    flex-direction: column;
    height: 9.9vh;
    width: 20vw;
}
.logo{
    display: none;
}


}