@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

* {
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: var(--font-family-paragrafo);    
}

body {
    margin: 0;
    min-height: 100vh;
    display: flex;
}

#sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--green-900);
    height: 100vh;
    width: 180px;
}

#logo_ourgarden1{
    width: 150px;
    object-fit: cover;
    align-items: center;
    justify-content: center;
    align-self: center;
    align-content: center;
    text-align: center;
    padding-left: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
}

#sidebotton /*pega user infos e sidebotton*/{
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style: none;
    padding: 0;
    align-items: center;
}

#sidebotton span:last-child{
    font-size: 0.9rem;
}

.sidebottons /*sideitens*/ {
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    width: 100%;
    justify-items: center;
    cursor: pointer;
}

.sidebottons.active{
    background-color: var(--green-200);
}

.sidebottons:hover(not.active):{
    background-color: var(--green-900);
}

.sidebottons a{
    text-decoration: none;
    display:flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    color: var(--green-200);

}
.sidebottons.active a{ 
    color: var(--green-900)
}

.sidebottons a i {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    text-align: start;
}

#logoutsidebar{
    padding: 30px;
    align-self: center;
}

#logoutsidebar_btn{
    border:none;
    font-size: 1rem;
    display: flex;
    gap: 10px;
    background-color: var(--green-900);
    color: var(--green-200);
}

