@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");
* {
    margin:0;
    padding:0;
    box-sizing:border-box;
    
}
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
}