@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

* {
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: var(--font-family-paragrafo);    
}

body {
    min-height: 100vh;
    display: flex;
    background-color: var(--green-200);
}

main{
    padding: 20px;
}