@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

* {
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: var(--font-family-paragrafo);    
}

body {
    min-height: 100vh;
    display: flex;
    background-color: var(--green-200);
}

main{
    padding: 20px;
}

.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    position: relative;
    width: fit-content;
}
.sidebarcontent {
    width: fit-content;
    height: fit-content
}

.logo_ourgarden img{
    width: 30px;
    object-fit: cover;
    padding-top: 30px;
    padding-bottom: 30px;
}
.logo_ourgarden {
    display: flex;
    width: 100%;
    justify-content: center;
    background-color: var(--green-900);
    border-bottom-right-radius: 30px;
}

.sidebotton /*side_items*/{
    display: flex;
    flex-direction: column;
    list-style: none;
    width: fit-content;
}
.sidebottomout{
    background-color: var(--green-900);
}

.sidebottons /*side-item*/ {
    height: 50px;
    justify-content: flex-start;
    cursor: pointer;
    align-content: center;
    align-items: center;
    padding-left: 25px;
    display: flex;
    width: fit-content;
    background-color: var(--green-900);
}

.sidebottons.active{
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    background-color: var(--green-200);
}

.sidebottons:hover:not(.active){
    background-color: var(--green-200);
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;

}

.sidebottons a{
    text-decoration: none;
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    color: var(--green-200);
}

.sidebottons.active a{ 
    color: var(--green-900);
}

.sidebottons a i {
    display: flex;
    width: 20px;
    height: 20px;
    justify-content: center;
    align-items: center;
}

.vazio {
    display: flex;
    width: 100%;
    justify-content: center;
    background-color: var(--green-900);
    border-top-right-radius: 30px;
    height: 80%;
}

.logoutsidebar{
    align-self: center;
    background-color: var(--green-900);
    width: 100%;
    justify-items: center;
    padding-bottom: 20px;

}

.logoutsidebar_btn{
    border:none;
    font-size: 1rem;
    display: flex;
    gap: 10px;
    background-color: var(--green-900);
    color: var(--green-200);
    cursor: pointer;

}
#open_btn {
    position: absolute;
    top: 30px;
    right: -10px;
    background-color: var(--green-500);
    color: var(--green-900);
    border-radius: 100%;
    width: 20px;
    height: 20px;
    border: none;
    cursor: pointer;
}


.item-description{
    width: 0px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

}

.sidebar.open-sidebar{
    min-width: 15%;
    display: flex;
}

.sidebar.open-sidebar .item-description {
    width: 150px;  
}

.sidebar.open-sidebar .sidebottons a {
    justify-content: flex-start;

}

