@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

* {
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: var(--font-family-paragrafo);    
}

body {
    /* min-height: 100vh; */
    display: flex;
    background-color: var(--green-200);
}

main{
    padding: 20px;
}

@media (max-width: 700px){

.sidebarDesktop{
    display: none;
}

.sidebar_mobile{
    display: flex;
    flex-direction: row;
}

.sidebarMobile{
    display: flex;
    flex-direction: row;
    height: 50px;
    width: 100vw;
    background-color: var(--green-900);
    justify-content: center;
}

.botoes_mobile{
    display: flex;
    flex-direction: row;
    height: 50px;
    width: 100%;
    align-items: center;
    gap: 50px;
}
.botoes_mobile a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:3px;
    text-decoration: none;
}


.botoes_mobile i {
    text-decoration: none;
    color: var(--green-200);
    display: flex;
    font-size: 25px;
    align-items: center;
    line-height: 0.5;
}

.botoes_mobile .item-description-mobile {
    font-size: 0.5rem;
    color: var(--green-200);
}

.btnDashboardMobile{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.btnDashboardMobile i{
    display: flex;
    flex-direction: column;
    padding-top: 5px;
    align-items: center;
}

.btnUsuarioMobile i{
    display: flex;
    flex-direction: column;
    padding-top: 5px;
    align-items: center;
}

.sidebarLogoMobile img {
    width: 45px;
}

.btnPublicacoesMobile i{
    display: flex;
    flex-direction: column;
    padding-top: 5px;
    align-items: center;
}

.btnUsuarioMobile i{
    display: flex;
    flex-direction: column;
    padding-top: 5px;
    align-items: center;
}

.btnLogoutMobile i{
    display: flex;
    flex-direction: column;
    padding-top: 5px;
    align-items: center;
}

.botoes_mobile .btnLogoutMobile .item-description-mobile {
    font-size: 0.5rem;
    color: var(--green-200);
    text-align: center;
}

@media (max-width: 420px){

.sidebarDesktop{
    display: none;
}

.botoes_mobile{
    display: flex;
    flex-direction: row;
    height: 50px;
    width: 100%;
    align-items: center;
    gap: 40px;
}

@media (max-width: 370px){

.sidebarDesktop{
    display: none;
}

.botoes_mobile{
    display: flex;
    flex-direction: row;
    height: 50px;
    width: 100%;
    align-items: center;
    gap: 20px;
}

@media (max-width: 280px){

.sidebarDesktop{
    display: none;
}

.botoes_mobile{
    display: flex;
    flex-direction: row;
    height: 50px;
    width: 100%;
    align-items: center;
    gap: 10px;
}
}