@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

* {
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: var(--font-family-paragrafo);    
}

body {
    min-height: 100vh;
    display: flex;
    background-color: var(--green-200);
}

main{
    padding: 20px;
}

#sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--green-900);
    height: 100vh;
    width: 180px;
}

#logo_ourgarden1{
    width: 150px;
    object-fit: cover;
    padding-left: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
}

#sidebotton /*side_items*/{
    display: flex;
    flex-direction: column;
    list-style: none;
}

.sidebottons /*side-item*/ {
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    width: 100%;
    height: 50px;
    justify-content: flex-start;
    cursor: pointer;
    align-content: center;
    align-items: center;
    padding-left: 25px;
}

.sidebottons.active{
    background-color: var(--green-200);
}

.sidebottons:hover:not(.active){
    background-color: var(--green-200);
    color: var(--green-900);

}

.sidebottons a{
    text-decoration: none;
    display:flex;
    align-items: center;
    gap: 15px;
    color: var(--green-200);
}

.sidebottons.active a{ 
    color: var(--green-900)
}

.sidebottons a i {
    display: flex;
    width: 20px;
    height: 20px;
    justify-content: center;
    align-items: center;
}

#logoutsidebar{
    padding: 30px;
    align-self: center;
}

#logoutsidebar_btn{
    border:none;
    font-size: 1rem;
    display: flex;
    gap: 10px;
    background-color: var(--green-900);
    color: var(--green-200);
    cursor: pointer;
}


