<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Fontes -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Yeseva+One&display=swap"
        rel="stylesheet" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css">

    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous"> -->

    <!-- CSS -->
    <link rel="stylesheet" href="../../../public/css/styles.css">
    <link rel="stylesheet" href="../../../public/css/listaPosts.css">
    <link rel="stylesheet" href="../../../public/css/modalEditarPublicacao.css">
    <link rel="stylesheet" href="../../../public/css/modalCriarPublicacao.css">

    <title>Lista de Posts</title>
</head>

<body>
    <div class="backgroundListaPosts">
        <div class="sidebarListaPosts"></div>
        <div class="mainListaPosts">
            <div class="superiorListaPosts">
                <div class="pesquisaPosts">
                    <img src="../../../public/assets/lupa-icon.svg" alt="ícone de lupa" class="lupa-icon">
                    <input type="text" name="pesquisarUsuarios" id="input-search" class="input-search"
                        placeholder="Pesquisar publicação...">
                </div>
                <div class="perfilListaPosts">
                    <img src="../../../public/assets/profile-icon.svg" alt="ícone de perfil" class="profile-icon">
                    <div class="nomePerfil">
                        <strong>Julia Rodrigues</strong>
                        <p>administrador</p>
                    </div>
                </div>
            </div>

            <div class="superiorTabelaPosts">
                <div class="tituloTabelaPosts">
                    <p>Publicações</p>
                </div>
                <button class="botoeslistaPosts" id="botoeslistaPosts">
                    <img src="../../../public/assets/plus-icon.svg" alt="ícone de mais">
                    Nova publicação
                </button>
            </div>

            <div class="tabelaPostsContent">
                <table class="tabelaPosts">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>TÍTULO</th>
                            <th>AUTOR</th>
                            <th>DATA</th>
                            <th>AÇÕES</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td><strong>Casa com cara de jardim</strong></td>
                            <td>Julia Rodrigues</td>
                            <td>17/10/2025</td>
                            <td>
                                <div class="botoesAcoes">
                                    <button class="btn-actions"><img src="../../../public/assets/eye-icon.svg"
                                            alt="ícone de olho"></button>
                                    <button class="btn-actions"><img src="../../../public/assets/pencil-icon.svg"
                                            alt="ícone de lápis"></button>
                                    <button class="btn-actions"><img src="../../../public/assets/trash-icon.svg"
                                            alt="ícone de lixeira"></button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td><strong>Casa com cara de jardim</strong></td>
                            <td>Julia Rodrigues</td>
                            <td>17/10/2025</td>
                            <td>
                                <div class="botoesAcoes">
                                    <button class="btn-actions"><img src="../../../public/assets/eye-icon.svg"
                                            alt="ícone de olho"></button>
                                    <button class="btn-actions"><img src="../../../public/assets/pencil-icon.svg"
                                            alt="ícone de lápis"></button>
                                    <button class="btn-actions"><img src="../../../public/assets/trash-icon.svg"
                                            alt="ícone de lixeira"></button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td><strong>Casa com cara de jardim</strong></td>
                            <td>Julia Rodrigues</td>
                            <td>17/10/2025</td>
                            <td>
                                <div class="botoesAcoes">
                                    <button class="btn-actions"><img src="../../../public/assets/eye-icon.svg"
                                            alt="ícone de olho"></button>
                                    <button class="btn-actions"><img src="../../../public/assets/pencil-icon.svg"
                                            alt="ícone de lápis"></button>
                                    <button class="btn-actions"><img src="../../../public/assets/trash-icon.svg"
                                            alt="ícone de lixeira"></button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td><strong>Casa com cara de jardim</strong></td>
                            <td>Julia Rodrigues</td>
                            <td>17/10/2025</td>
                            <td>
                                <div class="botoesAcoes">
                                    <button class="btn-actions"><img src="../../../public/assets/eye-icon.svg"
                                            alt="ícone de olho"></button>
                                    <button class="btn-actions"><img src="../../../public/assets/pencil-icon.svg"
                                            alt="ícone de lápis"></button>
                                    <button class="btn-actions"><img src="../../../public/assets/trash-icon.svg"
                                            alt="ícone de lixeira"></button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td><strong>Casa com cara de jardim</strong></td>
                            <td>Julia Rodrigues</td>
                            <td>17/10/2025</td>
                            <td>
                                <div class="botoesAcoes">
                                    <button class="btn-actions"><img src="../../../public/assets/eye-icon.svg"
                                            alt="ícone de olho"></button>
                                    <button class="btn-actions"><img src="../../../public/assets/pencil-icon.svg"
                                            alt="ícone de lápis"></button>
                                    <button class="btn-actions"><img src="../../../public/assets/trash-icon.svg"
                                            alt="ícone de lixeira"></button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="paginacaoPosts">
                    <div class="paginacaoPostsConteudo">
                        <button class="arrow-left"><img src="../../../public/assets/arrow-left-icon.svg"
                                alt="ícone de seta para esquerda"></button>
                        <div class="pages">
                            <button class="page">1</button>
                            <button class="page">2</button>
                            <button class="page">3</button>
                            <button class="page">4</button>
                            <button class="page">...</button>
                        </div>
                        <button class="arrow-right"><img src="../../../public/assets/arrow-right-icon.svg"
                                alt="ícone de seta para direita"></button>
                    </div>
                </div>
            </div>

            <!-- MODAL CRIAR NOVA PUBLICAÇÃO -->
            <div class="filtro" id="filtro"></div>

            <div class="modal-create-publication" id="modalCreatePublication">
                <div class="modal-create-publication-header">
                    <img src="../../../public/assets/plus-circle-icon.svg" alt="ícone de mais">
                    <p>Criar nova publicação</p>
                </div>

                <div class="modal-create-publication-main">
                    <form class="create-publication-form" id="createPublicationForm">
                        <section class="create-publication-container photo-container" id="photoContainer">
                            <div class="photo-container-content">
                                <input type="file" name="adicionar nova foto" id="addNewPhotoInput"
                                    onchange="exibirPreviewImagem('addNewPhotoInput', 'labelContent')"
                                    style="display: none;">
                                <label for="addNewPhotoInput" id="labelArquivo" class="label-photo-container">
                                    <div class="label-content" id="labelContent">
                                        <img src="../../../public/assets/image-icon.svg"
                                            alt="ícone de adicionar nova imagem">
                                        <p>Selecione uma foto</p>
                                    </div>
                                </label>
                            </div>
                        </section>

                        <section class="create-publication-container" id="titleContainer">
                            <span>Título:</span>
                            <input type="text" name="título da publicação" id="inputTitleName"
                                placeholder="Digite o título da publicação...">
                        </section>

                        <section class="create-publication-container" id="descriptionContainer">
                            <span>Descrição:</span>
                            <input type="text" name="descrição da publicação" id="inputDescriptionName"
                                placeholder="Digite a descrição da publicação...">
                        </section>

                        <div class="div-name-classification">
                            <section class="create-publication-container" id="nameContainer">
                                <span>Nome:</span>
                                <input type="text" name="nome da planta" id="inputPlantName"
                                    placeholder="Digite o nome da planta...">
                            </section>

                            <section class="create-publication-container classification-container"
                                id="classificationContainer">
                                <span>Classificação:</span>
                                <button class="classification-button" id="btnClassification">
                                    <p>Escolha até 3 opções...</p>
                                    <img src="../../../public/assets/arrow-down-icon.svg" alt="seta para baixo"
                                        class="arrow-down-icon" id="arrowDownIcon">
                                    <img src="../../../public/assets/arrow-up-icon.svg" alt="seta para cima"
                                        class="arrow-up-icon" id="arrowUpIcon">
                                </button>
                                <div class="dropdown-classification" id="dropdownClassification">
                                    <label><input type="checkbox" value="Ornamentais" name="classification[]">
                                        Ornamentais</label>
                                    <label><input type="checkbox" value="Medicinais" name="classification[]">
                                        Medicinais</label>
                                    <label><input type="checkbox" value="Alimentícias" name="classification[]">
                                        Alimentícias</label>
                                    <label><input type="checkbox" value="Aromáticas" name="classification[]">
                                        Aromáticas</label>
                                    <label><input type="checkbox" value="Tóxicas" name="classification[]">
                                        Tóxicas</label>
                                    <label><input type="checkbox" value="Industriais" name="classification[]">
                                        Industriais</label>
                                    <label><input type="checkbox" value="Forrageiras" name="classification[]">
                                        Forrageiras</label>
                                    <label><input type="checkbox" value="Madeireiras" name="classification[]">
                                        Madeireiras</label>
                                    <label><input type="checkbox" value="Oleaginosas" name="classification[]">
                                        Oleaginosas</label>
                                    <label><input type="checkbox" value="Fibrosas" name="classification[]">
                                        Fibrosas</label>
                                    <label><input type="checkbox" value="Condimentares" name="classification[]">
                                        Condimentares</label>
                                </div>
                            </section>
                        </div>

                        <section class="create-publication-container" id="aboutContainer">
                            <span>Sobre:</span>
                            <input type="text" name="sobre a planta" id="inputAboutPlant"
                                placeholder="Digite informações sobre a planta...">
                        </section>

                        <section class="create-publication-container" id="caresContainer">
                            <span>Cuidados:</span>
                            <div class="add-cares">
                                <input type="text" name="cuidados com a planta" id="inputCaresPlant"
                                    placeholder="Digite cuidados sobre a planta...">
                                <button class="btn-add-care">
                                    <img src="../../../public/assets/plus-circle-green-icon.svg" alt="ícone de mais">
                                </button>
                            </div>
                        </section>

                        <section class="buttons">
                            <button class="btn-cancel-publication" id="btnCancelPublication">Cancelar</button>
                            <button type="submit" class="btn-create-publication"
                                id="btnCreatePublication">Criar</button>
                        </section>
                    </form>
                </div>

            </div>

            <!-- MODAL EDITAR PUBLICAÇÃO -->
            <div class="modal-edit-publication" id="modalEditPublication">
                <div class="modal-edit-publication-header">
                    <i class="bi bi-pencil-square"></i>
                    <p>Editar publicação</p>
                </div>

                <div class="modal-edit-publication-main">
                    <form class="edit-publication-form" id="editPublicationForm">
                        <div class="selectPhoto">
                            <button>Selecione a nova foto</button>
                        </div>
                        <div class="infosPost">
                            <div class="title">
                                <h5>Título:</h5>
                                <input type="text" placeholder="Digite o novo título da publicação...">
                            </div>
                            <div class="description">
                                <h5>Descrição:</h5>
                                <input type="text" placeholder="Digite a nova descrição da publicação...">
                            </div>
                            <div class="nameClass">
                                <div class="name">
                                    <h5>Nome:</h5>
                                    <input type="text" placeholder="Digite o nome da planta...">
                                </div>
                                <div class="class">
                                    <h5>Classificação:</h5>
                                    <input type="text" placeholder="Escolha até 3 opções...">
                                </div>
                            </div>
                            <div class="infosPlanta">
                                <h5>Sobre:</h5>
                                <input type="text" placeholder="Digite novas informações sobre a planta...">
                            </div>
                            <div class="cares">
                                <h5>Cuidados:</h5>
                                <input type="text" placeholder="Digite cuidados sobre a planta...">
                            </div>
                        </div>

                        <div class="buttons">
                            <button>Cancelar</button>
                            <button>Criar</button>
                        </div>



                    </form>
                </div>

            </div>


        </div>
    </div>

    <!-- JAVASCRIPT -->
    <script src="../../../public/js/listaPosts.js"></script>

</body>

</html>