<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Side Bar</title>
    <link rel="icon" href="/public/assets/4.png">
    <link rel="stylesheet" href="/public/css/sidebar.css">
    <link rel="stylesheet" href="/public/css/styles.css">
</head>
<body>
    <nav class="sidebar" id="sidebar">
        <div class="sidebarcontent">
            <div class="logo_ourgarden" id="id_logo_ourgarden">
                <img src="/public/assets/4.png" id="logo_ourgarden4">
            </div>
            <div class="sidebottomout">
                <ul class="sidebotton">
                    <li class="sidebottons active">
                        <a href="#">
                            <i class="bi bi-grid"></i>
                            <span class="item-description">
                                Dashboard
                            </span>
                        </a>
                    </li>
                    <li class="sidebottons">
                        <a href="#">
                            <i class="bi bi-person"></i>
                            <span class="item-description">
                                Usuários
                            </span>
                        </a>
                    </li>
                    <li class="sidebottons">
                        <a href="#">
                            <i class="bi bi-pencil-square"></i>
                            <span class="item-description">
                                Publicações
                            </span>
                        </a>
                    </li>
                </ul>
                <button id="open_btn">
                    <i class="bi bi-chevron-right"></i>
                </button>
            </div>
        </div>
        <div class="vazio">
        </div>
        <div class="logoutsidebar">
            <button class="logoutsidebar_btn">
                <div class="logoutsidebarcontent">
                    <i class="bi bi-box-arrow-left"></i>
                    <span class="item-description">
                        Sair
                    </span>
                </div>
            </button>
        </div>
    </nav>
    <script src="/public/js/sidebar.js"></script>
</body>
</html>