<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Side Bar</title>
    <link rel="icon" href="/public/assets/4.png">
    <link rel = "stylesheet" href = "../../../public/css/styles.css">
    <link rel = "stylesheet" href = "/public/css/sidebar.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>
<body>
    <div class="pagina">
        <div = class="sidebar">
            <nav class="sidebarcontfull" id="sidebarcontfull">
                <div class="logo">
                    <img src="/public/assets/1.png"/ alt="Logo Our Garden">
                </div>
                <div class="contentsidebar" id="contentsidebar">
                    <div class="botoes">
                        <div class="dashboardbot">
                            <a href="#">
                            <div class="dashicon">
                                <i class="bi bi-grid"></i>
                            </div>
                            <span class="item-description">
                                Dashboard
                            </span>
                            </a>
                        </div>
                        <div class="userbot">
                            <div class="userin active">
                                <a href="#">
                                <div class="usericon">
                                    <i class="bi bi-person"></i>
                                </div>
                                <span class="item-description">
                                    Usuários
                                </span>
                                </a>
                            </div>
                        </div>
                        <div class="logomobile">
                            <img src="/public/assets/4.png"/>
                        </div>
                        <div class="postbot">
                            <a href="#">
                            <div class="posticon">
                                <i class="bi bi-pencil-square"></i>
                            </div>
                            <span class="item-description">
                                Publicações
                            </span>
                            </a>
                        </div>
                    </div>
                    <div class="vazio">
                    </div>
                    <div class="logout">
                        <div class="logouticon">
                            <i class="bi bi-box-arrow-left"></i>
                        </div>
                        <span class="item-description">
                            Sair
                        </span>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</body>
</html>