<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Side Bar</title>
    <link rel="icon" href="/public/assets/4.png">
    <link rel="stylesheet" href="/public/css/sidebar.css">
    <link rel="stylesheet" href="/public/css/styles.css">
</head>
<body>
    <nav id="sidebar">
        <div id="sidebarcontent">
            <div id="logo_ourgarden">
                <img src="/public/assets/1.png" id="logo_ourgarden1">
            </div>
            <ul id="sidebotton">
                <li class="sidebottons active">
                    <a href="#">
                        <i class="bi bi-grid"></i>
                        <span class="item-description">
                            Dashboard
                        </span>
                    </a>
                </li>
                <li class="sidebottons">
                    <a href="#">
                        <i class="bi bi-person"></i>
                        <span class="item-description">
                            Usuários
                        </span>
                    </a>
                </li>
                <li class="sidebottons">
                    <a href="#">
                        <i class="bi bi-pencil-square"></i>
                        <span class="item-description">
                            Publicações
                        </span>
                    </a>
                </li>
            </ul>
        </div>
        <div id="logoutsidebar">
            <button id="logoutsidebar_btn">
                <i class="bi bi-box-arrow-left"></i>
                <span class="item-description">
                    Sair
                </span>
            </button>
        </div>
    </nav>
    <main>
        <h1>Conteudo da pagina</h1>
    </main>
    <script src="/public/js/sidebar.js"></script>
</body>
</html>