<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../../public/css/styles.css">
    <link rel="stylesheet" href="../../../public/css/dashbboard.css">
</head>
<body>
    <div class="containerDashboard">
        <div class="sidebarDashboard"></div>
        <div class="mainDashbord">
            <div class="section1">
                <div class="total">
                    <p>Total de usuários: 42</p>
                    <p>Total de publicações: 102</p>
                </div>
                <div class="profileADM">
                    <h5>Julia Rodrigues</h5>
                    <p>administrador</p>
                </div>
            </div>
            <div class="section2">
                <h3>Dashboard</h3>
            </div>
            <div class="section3">
                <div class="containerUsuarios">
                    <div class="content">
                        <div class="title">
                            <h2>Usuários</h2>
                        </div>
                        <div class="text">
                            <p>Visualize e administre os usuários do sistema</p>
                        </div>
                    </div>
                </div>
                <div class="containerUsuarios">
                    <div class="content">
                        <div class="title">
                            <h2>Usuários</h2>
                        </div>
                        <div class="text">
                            <p>Visualize e administre os usuários do sistema</p>
                        </div>
                    </div>
                </div>
                <div class="containerUsuarios">
                    <div class="content">
                        <div class="title">
                            <h2>Usuários</h2>
                        </div>
                        <div class="text">
                            <p>Visualize e administre os usuários do sistema</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>