<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../../public/css/styles.css">
    <link rel="stylesheet" href="../../../public/css/dashbboard.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css">
</head>
<body>
    <div class="containerDashboard">
        <div class="sidebarDashboard"></div>
        <div class="mainDashbord">
            <div class="section1">
                <div class="total">
                    <p>Total de usuários: 42</p>
                    <p>Total de publicações: 102</p>
                </div>
                <div class="profileADM">
                    <i class="bi bi-person-circle"></i>
                    <div class="textADM">
                        <h5>Julia Rodrigues</h5>
                        <p>administrador</p>
                    </div>
                </div>
            </div>
            <div class="section2">
                <h3>Dashboard</h3>
            </div>
            <div class="section3Total">
                <div class="section3">
                    <div class="icon">
                        <i class="bi bi-person-lines-fill"></i>
                    </div>
                    <div class="containerUsuarios">
                        <div class="content">
                            <div class="title">
                                <h2>Usuários</h2>
                            </div>
                            <div class="text">
                                <p>Visualize e administre os usuários do sistema</p>
                            </div>
                        </div>
                    </div>
                    <div class="verMais">
                        <p>Ver mais</p>
                        <i class="bi bi-arrow-right"></i>
                    </div>
                </div>
                <div class="section3">
                    <div class="icon">
                        <i class="bi bi-file-post"></i>
                    </div>
                    <div class="containerUsuarios">
                        <div class="content">
                            <div class="title">
                                <h2>Publicações</h2>
                            </div>
                            <div class="text">
                                <p>Gerencie e crie novas postagens para o blog ou mural</p>
                            </div>
                        </div>
                    </div>
                    <div class="verMais">
                        <p>Ver mais</p>
                        <i class="bi bi-arrow-right"></i>
                    </div>
                </div>
                <div class="section3">
                    <div class="icon">
                        <i class="bi bi-person-fill-dash"></i>
                    </div>
                    <div class="containerUsuarios">
                        <div class="content">
                            <div class="title">
                                <h2>Logout</h2>
                            </div>
                            <div class="text">
                                <p>Saia da sua conta de forma segura</p>
                            </div>
                        </div>
                    </div>
                    <div class="verMais">
                        <p>Ver mais</p>
                        <i class="bi bi-arrow-right"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>