<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS -->
    <link rel="stylesheet" href="../../../public/css/styles.css">
    <link rel="stylesheet" href="../../../public/css/footer.css">

    <title>Footer</title>
</head>

<body>
    <footer>
        <section class="footer-content">
            <div class="cards">

                <div class="card">
                    <div class="title">
                        <h2>Missão</h2>
                    </div>
                    <div class="content">
                        <p>
                            Nossa missão é proporcionar serviços e produtos de qualidade, buscando sempre a satisfação
                            dos nossos clientes.
                        </p>
                    </div>
                </div>

                <div class="card">
                    <div class="title">
                        <h2>Visão</h2>
                    </div>
                    <div class="content">
                        <p>
                            Ser referência nacional em soluções tecnológicas, formando profissionais de excelência para liderar a transformação digital.
                        </p>
                    </div>
                </div>

                <div class="card">
                    <div class="title">
                        <h2>Valores</h2>
                    </div>
                    <div class="content">
                        <p>
                            Inovação, Excelência, Colaboração, Empatia, Aprendizado
                        </p>
                    </div>
                </div>

                <div class="card">
                    <div class="title">
                        <a href="https://www.codejr.com.br/"><img src="../../../public/assets/code-logo-branca.svg" alt="Logo da Code" class="logo-code-branca"></a>
                    </div>
                    <div class="content">
                        <div class="icons">
                            <a href="https://www.facebook.com/codeempresajunior"><img src="../../../public/assets/facebook-logo.svg" alt="Logo do Facebook" class="logo"></a>
                            <a href="https://www.instagram.com/codejr"><img src="../../../public/assets/instagram-logo.svg" alt="Logo do Instagram" class="logo"></a>
                            <a href="https://www.linkedin.com/company/codejr/"><img src="../../../public/assets/linkedin-logo.svg" alt="Logo do Linkedin" class="logo"></a>
                            <a href="https://api.whatsapp.com/send/?phone=5532991519313&text&type=phone_number&app_absent=0"><img src="../../../public/assets/telefone-logo.svg" alt="Logo do Telefone" class="logo"></a>
                        </div>
                    </div>
                </div>

            </div>
            <div class="slogan">
                <p>Transformando ideias em software há mais de 10 anos.</p>
            </div>
        </section>
    </footer>
</body>

</html>