<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS -->
    <link rel="stylesheet" href="../../../public/css/footer.css">

    <title>Footer</title>
</head>

<body>
    <footer>
        <section class="footer-content">
            <div class="cards">

                <div class="card">
                    <div class="title">
                        <p>Missão</p>
                    </div>
                    <div class="content">
                        <p>
                            Nossa missão é proporcionar serviços e produtos de qualidade, buscando sempre a satisfação
                            dos nossos clientes.
                        </p>
                    </div>
                </div>

                <div class="vertical-line"></div>
                <hr>

                <div class="card">
                    <div class="title">
                        <p>Visão</p>
                    </div>
                    <div class="content">
                        <p>
                            Ser referência nacional em soluções tecnológicas, formando profissionais de excelência para liderar a transformação digital.
                        </p>
                    </div>
                </div>

                <div class="vertical-line"></div>
                <hr>

                <div class="card">
                    <div class="title">
                        <p>Valores</p>
                    </div>
                    <div class="content">
                        <p>
                            Inovação, Excelência, Colaboração, Empatia, Aprendizado
                        </p>
                    </div>
                </div>

                <div class="vertical-line"></div>
                <hr>

                <div class="card">
                    <div class="title">
                        <a href="https://www.codejr.com.br/" target="_blank"><img src="../../../public/assets/code-logo-branca.svg" alt="Logo da Code" class="logo-code-branca"></a>
                    </div>
                    <div class="content">
                        <div class="icons">
                            <a href="https://www.facebook.com/codeempresajunior" target="_blank"><img src="../../../public/assets/facebook-logo.svg" alt="Logo do Facebook" class="icon"></a>
                            <a href="https://www.instagram.com/codejr" target="_blank"><img src="../../../public/assets/instagram-logo.svg" alt="Logo do Instagram" class="icon"></a>
                            <a href="https://www.linkedin.com/company/codejr/" target="_blank"><img src="../../../public/assets/linkedin-logo.svg" alt="Logo do Linkedin" class="icon"></a>
                            <a href="https://api.whatsapp.com/send/?phone=5532991519313&text&type=phone_number&app_absent=0" target="_blank"><img src="../../../public/assets/telefone-logo.svg" alt="Logo do Telefone" class="icon"></a>
                        </div>
                    </div>
                </div>

            </div>
            <div class="slogan">
                <p>Transformando ideias em software há mais de 10 anos.</p>
            </div>
        </section>
    </footer>
</body>

</html>