<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../../public/css/styles.css">
    <link rel="stylesheet" href="../../../public/css/paginaDePosts.css"> 
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Yeseva+One&display=swap" rel="stylesheet" />
</head>
<body>
    <div class="pagina">
        <div class="container">
            <h2>ÚLTIMAS PUBLICAÇÕES</h2>
            <div class="pesquisaEFunil">
                <div class="pesquisa">
                    <i class="bi bi-search"></i>
                    <p>Pesquise...</p>
                </div>
            </div>
            <div class="funilPosts">
                <i class="bi bi-funnel"></i>
            </div>
        </div>

        <div class="listaCards">
            <div class="card">
                <div class="infos">
                    <div class="profile">
                        <div class="nomeEFoto">
                            <div class="usuarioPosts">
                                <i class="bi bi-person-circle"></i>
                            </div>
                            <div class="nomeUsuarioPosts">
                                <p>@juliarodrigues</p>
                            </div>
                        </div>
                        <div class="folhinhaPosts">
                            <i class="bi bi-leaf"></i>
                        </div>
                    </div>
                </div>
                <div class="imgPlantaPosts">
                    <img src="../../../public/assets/planta.jpg">
                </div>
                <div class="conteudo">
                    <h3>Casa com cara de jardim</h3>
                    <p>Nada como um cantinho verde para deixar o dia mais leve e a casa com aquele ar de frescor natural.</p>
                    <div class="hora">
                        <i class="bi bi-calendar-fill"></i>
                        <p>Há duas horas</p>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="infos">
                    <div class="profile">
                        <div class="nomeEFoto">
                            <div class="usuarioPosts">
                                <i class="bi bi-person-circle"></i>
                            </div>
                            <div class="nomeUsuarioPosts">
                                <p>@juliarodrigues</p>
                            </div>
                        </div>
                        <div class="folhinhaPosts">
                            <i class="bi bi-leaf-fill"></i>
                        </div>
                    </div>
                </div>
                <div class="imgPlantaPosts">
                    <img src="../../../public/assets/planta.jpg">
                </div>
                <div class="conteudo">
                    <h3>Casa com cara de jardim</h3>
                    <p>Nada como um cantinho verde para deixar o dia mais leve e a casa com aquele ar de frescor natural.</p>
                    <div class="hora">
                        <i class="bi bi-calendar-fill"></i>
                        <p>Há duas horas</p>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="infos">
                    <div class="profile">
                        <div class="nomeEFoto">
                            <div class="usuarioPosts">
                                <i class="bi bi-person-circle"></i>
                            </div>
                            <div class="nomeUsuarioPosts">
                                <p>@juliarodrigues</p>
                            </div>
                        </div>
                        <div class="folhinhaPosts">
                            <i class="bi bi-leaf"></i>
                        </div>
                    </div>
                </div>
                <div class="imgPlantaPosts">
                    <img src="../../../public/assets/planta.jpg">
                </div>
                <div class="conteudo">
                    <h3>Casa com cara de jardim</h3>
                    <p>Nada como um cantinho verde para deixar o dia mais leve e a casa com aquele ar de frescor natural.</p>
                    <div class="hora">
                        <i class="bi bi-calendar-fill"></i>
                        <p>Há duas horas</p>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="infos">
                    <div class="profile">
                        <div class="nomeEFoto">
                            <div class="usuarioPosts">
                                <i class="bi bi-person-circle"></i>
                            </div>
                            <div class="nomeUsuarioPosts">
                                <p>@juliarodrigues</p>
                            </div>
                        </div>
                        <div class="folhinhaPosts">
                            <i class="bi bi-leaf"></i>
                        </div>
                    </div>
                </div>
                <div class="imgPlantaPosts">
                    <img src="../../../public/assets/planta.jpg">
                </div>
                <div class="conteudo">
                    <h3>Casa com cara de jardim</h3>
                    <p>Nada como um cantinho verde para deixar o dia mais leve e a casa com aquele ar de frescor natural.</p>
                    <div class="hora">
                        <i class="bi bi-calendar-fill"></i>
                        <p>Há duas horas</p>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="infos">
                    <div class="profile">
                        <div class="nomeEFoto">
                            <div class="usuarioPosts">
                                <i class="bi bi-person-circle"></i>
                            </div>
                            <div class="nomeUsuarioPosts">
                                <p>@juliarodrigues</p>
                            </div>
                        </div>
                        <div class="folhinhaPosts">
                            <i class="bi bi-leaf"></i>
                        </div>
                    </div>
                </div>
                <div class="imgPlantaPosts">
                    <img src="../../../public/assets/planta.jpg">
                </div>
                <div class="conteudo">
                    <h3>Casa com cara de jardim</h3>
                    <p>Nada como um cantinho verde para deixar o dia mais leve e a casa com aquele ar de frescor natural.</p>
                    <div class="hora">
                        <i class="bi bi-calendar-fill"></i>
                        <p>Há duas horas</p>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="infos">
                    <div class="profile">
                        <div class="nomeEFoto">
                            <div class="usuarioPosts">
                                <i class="bi bi-person-circle"></i>
                            </div>
                            <div class="nomeUsuarioPosts">
                                <p>@juliarodrigues</p>
                            </div>
                        </div>
                        <div class="folhinhaPosts">
                            <i class="bi bi-leaf"></i>
                        </div>
                    </div>
                </div>
                <div class="imgPlantaPosts">
                    <img src="../../../public/assets/planta.jpg">
                </div>
                <div class="conteudo">
                    <h3>Casa com cara de jardim</h3>
                    <p>Nada como um cantinho verde para deixar o dia mais leve e a casa com aquele ar de frescor natural.</p>
                    <div class="hora">
                        <i class="bi bi-calendar-fill"></i>
                        <p>Há duas horas</p>
                    </div>
                </div>
            </div>

        </div>

        <div class="paginacao">
            <div class="elementosPaginacao">
                <div class="arcos">
                    <i class="bi bi-chevron-left"></i>
                    <div class="numeros">
                        <p>1</p>
                        <p>2</p>
                        <p>3</p>
                        <p>4</p>
                        <p>...</p>
                    </div>
                    <i class="bi bi-chevron-right"></i>
                </div>
            </div>
        </div>
    </div>

</body>
</html>