<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS -->
    <link rel="stylesheet" href="../../../public/css/postIndividual.css">

    <title>Post individual</title>
</head>

<body>
    <main>
        <section class="hero-section">

            <div class="post-container">
                <div class="post">
                    <div class="image-container">
                        <img src="../../../public/assets/plant.png" alt="imagem de planta">
                    </div>
                    <div class="content">
                        <div class="content-header">
                            <div class="header-title">
                                <p>Casa com cara de jardim 🪴</p>
                            </div>
                        </div>
                        <div class="content-main">
                            <div class="class-container">
                                <div class="classification">
                                    <p>Ornamental</p>
                                </div>
                                <div class="classification">
                                    <p>Tóxica</p>
                                </div>
                                <div class="classification">
                                    <p>Interior</p>
                                </div>
                            </div>
                            <div class="post-description">
                                <p>Nada como um cantinho verde para deixar o dia mais leve e a casa com aquele ar de
                                    frescor natural.</p>
                            </div>
                        </div>
                        <div class="content-footer">
                            <div class="author">
                                <img src="../../../public/assets/perfil-icon.svg" alt="ícone de perfil">
                                <p>Julia Rodrigues</p>
                            </div>
                            <div class="date">
                                <img src="../../../public/assets/calendar-icon.svg" alt="ícone de calendário">
                                <i>Há duas horas</i>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="plant-infos-container">
                    <div class="title">
                        Informações adicionais sobre a planta
                    </div>
                    <div class="container">
                        <span>Nome</span>
                        <div class="plant-name">
                            Comigo ninguém pode
                        </div>
                    </div>
                    <div class="container">
                        <span>Classificação</span>
                        <div class="classifications">
                            <div class="classification">
                                &#9679; <strong>Ornamental:</strong> é cultivada principalmente pela beleza estética (flores, folhas, formato ou cor), e não pelo uso alimentar ou medicinal.
                            </div>
                            <div class="classification">
                                &#9679; <strong>Tóxica:</strong> possui substâncias que podem causar irritação, intoxicação ou até envenenamento se ingerida ou em contato com a pele/olhos.
                            </div>
                            <div class="classification">
                                &#9679; <strong>Interior:</strong> é adaptada para ser cultivada dentro de casas, escritórios ou ambientes fechados, pois tolera luz indireta ou meia-sombra.
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <span>Sobre</span>
                        <div class="plant-about">
                            A Comigo-ninguém-pode é uma planta ornamental muito popular, pertencente ao gênero Dieffenbachia, da família Araceae. Originária das florestas tropicais da América Central e do Sul, cresce naturalmente em locais úmidos e sombreados, sob a copa das árvores.
                        </div>
                    </div>
                     <div class="container">
                        <span>Cuidados</span>
                        <div class="cares">
                            <div class="care">
                                &#9679; Evite sol direto nas folhas, pois pode causar queimaduras.
                            </div>
                            <div class="care">
                                &#9679; Mantenha o solo levemente úmido, mas nunca encharcado.
                            </div>
                            <div class="care">
                                &#9679; Utilize substrato rico em matéria orgânica e bem drenado.
                            </div>
                            <div class="care">
                                &#9679; Evite correntes de ar frio e mudanças bruscas de temperatura.
                            </div>
                        </div>
                    </div>
                </div>

                <div class="show-more-container">
                    <button id="btn-show-more" class="btn-show-more">
                        <img src="../../../public/assets/arrow-down-icon.svg" alt="ícone de seta para baixo">
                        Saiba mais sobre a planta
                    </button>
                </div>

            </div>
        </section>
    </main>

    <script src="../../../public/js/postIndividual.js"></script>
</body>

</html>