<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS -->
     <link rel="stylesheet" href="../../../public/css/postIndividual.css">

    <title>Post individual</title>
</head>
<body>
     <main>
        <section class="hero-section">
            <div class="post-container">
                <div class="post">
                    <div class="image-container">
                        <img src="../../../public/assets/plant.png" alt="imagem de planta">
                    </div>
                    <div class="content">
                        <div class="content-header">
                            <div class="header-title">
                                <p>Casa com cara de jardim 🪴</p>
                            </div>
                        </div>
                        <div class="content-main">
                            <div class="class-container">
                                <div class="classification">
                                    <p>Ornamental</p>
                                </div>
                                <div class="classification">
                                    <p>Tóxica</p>
                                </div>
                                <div class="classification">
                                    <p>Interior</p>
                                </div>
                            </div>
                            <div class="post-description">
                                <p>Nada como um cantinho verde para deixar o dia mais leve e a casa com aquele ar de
                                    frescor natural.</p>
                            </div>
                        </div>
                        <div class="content-footer">
                            <div class="author">
                                <img src="../../../public/assets/perfil-icon.svg" alt="ícone de perfil">
                                <p>Julia Rodrigues</p>
                            </div>
                            <div class="date">
                                <img src="../../../public/assets/date-icon.svg" alt="ícone de calendário">
                                <i>Há duas horas...</i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="show-more-container">
                    <div class="show-more">
                        <img src="../../../public/assets/arrow-down-icon.svg" alt="ícone de seta para baixo">
                        <p>Saiba mais sobre a planta</p>
                    </div>
                </div>
            </div>
        </section>
    </main>
</body>
</html>